*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    font-family: arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
img{
    vertical-align:middle;
}
ol,ul,h1,h2,h3,a{
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
    text-decoration: none;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
/*//轮播*/
.warp{
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	top: 0px;
}
.warp .list{
	position: relative;
	width: 100%;
}
.warp .list li{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	list-style: none;
	opacity: 1;
}
.warp .list li.one{
    position: relative;
}
.warp .list li.one img{
    margin-top: -2px;
}
.warp .list li img{
	width: 100%;
}
div.pre .preIcon,div.next .nextIcon{
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}
.pre .preIcon,.next .nextIcon{
    z-index: 11;
    width: 25px;
    background: url(../img/bannerIcon.png)no-repeat;

}
.pre .preIcon{
    background-position: -25px 0;
}
.next .nextIcon{
    background-position: 0 0;
}
.pre .preIcon:hover{
    background-position: -75px 0;
}
.next .nextIcon:hover{
    background-position: -50px 0;
}
.controll{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 10;
}
.controll ul{
	text-align: center;
}
#controll li span.curIndex{
	background-color: #ff4400;
}
.controll li span{
	display: inline-block;
	padding:0;
	margin: 0;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #ffffff;
	cursor: pointer;
}
.controll li{
	display: inline-block;
	margin-right: 5px;
}
.controll li span:hover{
	background-color: #fefefe;
}
@media all and (min-width:768px){
	.controll li span{
	padding:0;
	margin: 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #a7a7a7;
	cursor: pointer;
	}
}
/*轮播结束*/
/*头部结束*/
.smallScreen{
	position: relative;
	display: block;
	height: 30px;
	overflow: hidden;
	margin: 20px 5px 0; 
}
.smallScreen .smallList .list{
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.smallScreen .smallList .smallScInfo{
	cursor: pointer;
	height: 30px;
	display: block;
	line-height: 30px;
}
.smallScreen .smallList .list a{
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
.smallScreen .smallList .list a strong{
	font-weight: normal;
	border-right: 1px solid #828181;
	margin-right: 5px;
	padding-right: 5px;
}
.smallScreen .smallList .list div{
	height: 0;
}
.smallScreen .smallList .list div.bar{
	position: absolute;
	top: 25px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #333;
}

.smallScreen .smallList .list ul{
	width: 200%;
	text-align: left;
}
.smallScreen .smallList .chpList ul{
	margin-left: 0;
}
.smallScreen .smallList .fwList ul{
	margin-left: -100%;
}
.smallScreen .smallList .list .chpItem,
.smallScreen .smallList .list .fwItem{
	width: 50%;
	float: left;
	text-align: center;
	/*padding-left:10%; */
	margin-top: 10px;
}
.smallScreen .smallList .list .hide{
	margin-left: -9000px;
}
.smallScreen .smallList .list span .icon{
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url(../img/xiala.png) no-repeat;
	margin-left: 3px;
	vertical-align: middle;
}
.smallScreen .smallList .list .cur .icon{
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url(../img/shangla.png) no-repeat;
	margin-left: 3px;
	vertical-align: middle;
}
@media screen and (min-width: 768px){
	.smallScreen{
		display: none;
	}
}
.wholeActiveList .activeItem{
	margin: 10px auto;
}
.wholeActiveList .activeItem a{
    position: relative;
	display: block;
	text-align: center;
    width: 300px;
    margin: 0 auto;
}
.wholeActiveList .activeItem img{
	max-width: 100%;
	/*width: 300px;*/
}
@media screen and (min-width: 630px) {
	.wholeActiveList{
		width: 630px;
		margin: 0 auto;
	}
	.wholeActiveList .activeItem{
		float: left;
		width: 300px;
		margin: 10px 7px;
	}
}
@media screen and (min-width: 945px){
	.wholeActiveList{
		width: 945px;
	}
}
.footer{
    height: 390px;
    width: 100%;
    background-color: #333;
    margin-top: 30px;
    padding-top: 30px;
}
.footer .exLink{
    width: 304px;
    margin: 0 auto;
}
.footer .exLink li{
    position: relative;
    float: left;
    margin:0  5px;
}
@media all and (min-width: 360px){
    .footer .exLink{
        width: 344px;
    }
    .footer .exLink li{
        margin: 0 10px;
    }
}
.footer .exLink a{
    display: inline-block;
    width: 66px;
    height: 66px;
    background: url(../img/exLink.png) no-repeat;
}
.footer .exLink .code{
    position: absolute;
    left: -33px;
    top:-130px;
    height: 130px;
    width: 130px;
    background: url(../img/2016-07-21T07-50-47.688Z.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    opacity: 0;
}
.footer .exLink li.weixin:hover .code{
    opacity: 1;
}
.footer .exLink .link3{
    background-position: -198px 0;
}
.footer .exLink .link2{
    background-position: -132px 0;
}
.footer .exLink .link1{
    background-position: -66px 0;
}
.footer .exLink .link0{
    background-position: 0 0;
}
.footer .help{
    width: 100%;
    text-align: center;
}
.footer .help .exHelp{
    margin: 20px 5px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
}
.footer .help .exHelp ul{
    margin-top: 8px;
}
.footer .help .exHelp ul  a{
    color: #fff;
    font-size: 13px;
}
.footer p{
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
    padding-bottom: 30px;
    background-color: #333;
}
@media all and (min-width:768px) {
    .footer .help{
        width:600px;
        margin: 0 auto;

    }
    .footer .help .exHelp{
        margin: 30px 20px;
        float: left;
    }
    .footer p{
        padding: 0;
    }
}
.footer p span{
    vertical-align: 3px;font-weight: bold;
}
