<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
        <link rel="stylesheet" type="text/css" href="/template/m/css2/user_order.css">
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
        <title>我的订单_{fzw:key:sitename/}</title>
	</head>
	<body class="body_bg">
    {if value1="{fzw:cookie name="user_name" /}" value2="" bi="=="}
    <script type="text/javascript">
        window.location.href = "/?login.html";
        window.event.returnValue = false;
    </script>
    {else}
    {/if}
    {fzw:sql="select count(id) as count_id from sl_user where yonghuming='{fzw:cookie name="user_name" /}'" id="p1"}
    {if value1="{fzw:p1:count_id/}" value2="0" bi="=="}{/fzw:sql}
    <script type="text/javascript">
        window.location.href = "/inc/out_login.aspx?type=err";
        window.event.returnValue = false;
    </script>
    {else}{/if}
        <div class="headTitle clearFloat" id="headTitle">
            <div class="reteat">
                <span>后退</span>
            </div>
            <div class="mask"></div>
            <div class="rightNav">
                <div class='show'>
                    <span ></span>
                    <span ></span>
                    <span ></span>
                </div>
                <ul>
                    <li><a href="/Single.aspx?m=userCenter">个人中心</a></li>
                    <li id="user_left_1"><a href="/search.aspx?m=user_order">我的订单</a></li>
                    <li id="user_left_4"><a href="/Single.aspx?m=cart">我的购物车</a></li>
                    <li id="user_left_12"><a href="/search.aspx?m=user_yhq">我的优惠券</a></li>
                    <li id="user_left_8"><a href="/search.aspx?m=user_sms">站内信<em class="sms_num"></em></a></li>
                    <li id="user_left_10"><a href="/Single.aspx?m=user_pwd">修改密码</a></li>
                    <li><a href="/inc/out_login.aspx" onclick="return confirm('你确认将该信息删除到回收站?   注意：相关图片和资源也将一起删除到回收站');">退出登录</a></li>
                </ul>
            </div>
        </div>
        <div class="pageContent">
            <div class="u_table1 orderList">
                {fzw:search table="sl_order" sqlvalue="yonghuming='{fzw:cookie name="user_name" /}'" number="15" order="dtime" orderby="desc" id="p1"}
                <div class="orderItem">
                    <div class="head clearFloat">
                       <div class="code">
                            订单号：
                            <a href="/single.aspx?m=user_order_show&dingdanhao={fzw:p1:dingdanhao /}&tablename=order">{fzw:p1:dingdanhao/}</a>
                       </div>
                        <div class="state">{fzw:p1:zhuangtai /}</div>
                    </div>
                    <div class="goods">
                        {fzw:sql="select * from sl_cart where  yonghuming='{fzw:cookie name="user_name" /}' and dingdanbianhao='{fzw:p1:dingdanhao /}' order by id desc" id="p2"}
                        <div class="imgText">
                            {if value1="{fzw:p2:gouwuchehao/}" value2="" bi="=="}
                            <div>
                                <a href="/page.aspx?id={fzw:p2:laiyuanbianhao/}&classid=1" class="clearFloat">
                                    <img src="{fzw:p2:laiyuanbianhao sql="sl_product|where&nbsp;id=&dangqian|suoluetu"/}" width="60" height="60" class="fl" />
                                    <p>{fzw:p2:biaoti/}</p>
                                </a>
                            </div>
                            {else}
                            <div>
                                <a href="/Single.aspx?m=index-1&gouwuchehao={fzw:p2:gouwuchehao/}" class="clearFloat">
                                    <img src="{fzw:p2:laiyuanbianhao sql="sl_zuopin|where&nbsp;id=&dangqian|suoluetu"/}" onerror="this.src='{fzw:p2:laiyuanbianhao sql="sl_product|where&nbsp;id=&dangqian|suoluetu"/}'" width="60" height="60" class="fl" />
                                    <p >{fzw:p2:biaoti/}</p>
                                </a>
                            </div>
                            {/if}
                        </div>
                        {/fzw:sql}
                    </div>
                    <div class="date">
                        下单时间：{fzw:p1:dtime datetime="yyyy-MM-dd" /}{fzw:p1:dtime datetime="hh:mm:ss" /}
                    </div>
                    <div class="bottom clearFloat">
                        <div class="opera">
                        {if value1="{fzw:p1:zhuangtai /}" value2="未付款" bi="=="}<a href="/single.aspx?m=orderpay&dingdanhao={fzw:p1:dingdanhao /}" class="txt_blue" style="margin-top:0px;">付款</a>&nbsp;|&nbsp;<a href="/pay/orderok.aspx?type=cancel&tablename=order&id={fzw:p1:id /}" onclick="return confirm('您确认将该订单取消？');" class="txt_blue" style="margin-top:0px;">取消订单</a>{else}{/if}
                        {if value1="{fzw:p1:zhuangtai /}" value2="已付款" bi="=="}<a class="txt_blue" style="margin-top:0px;">等待发货</a>{else}{/if}{if value1="{fzw:p1:zhuangtai /}" value2="已发货" bi="=="}<a onclick="return confirm('您确认该您已收到货？');" href="/pay/orderok.aspx?type=shouhuo&tablename=order&id={fzw:p1:id /}" class="txt_blue" style="margin-top:0px;">确认收货</a>{else}{/if}{if value1="{fzw:p1:zhuangtai /}" value2="送单完成" bi="=="}<a class="txt_blue" style="margin-top:0px;">交易成功</a>{else}{/if}
                         </div>
                        <div class="price">合计：￥{fzw:p1:jine  string="￥"/}</div>

                    </div>
                </div>
                {/fzw:search}
            </div>
            <div class="page">
                {fzw:search:page id="p1" size="8"/}
            </div>
        </div>
        <div class="pageBottom">
            <ul class="u_tab">
                {if value1="{fzw:url:zhuangtai/}" value2="" bi="=="}
                <li class="on"><a href="/search.aspx?m=user_order">交易订单</a></li>
                <li><a href="/search.aspx?m=user_order&zhuangtai=未付款">未付款</a></li>
                <li><a href="/search.aspx?m=user_order&zhuangtai=订单完成">已购买</a></li>
                <script type="text/javascript">document.getElementById("user_left_1").className = "on";</script>
                {else}{/if}
                {if value1="{fzw:url:zhuangtai/}" value2="未付款" bi="=="}
                <li><a href="/search.aspx?m=user_order">交易订单</a></li>
                <li class="on"><a href="/search.aspx?m=user_order&zhuangtai=未付款">未付款</a></li>
                <li><a href="/search.aspx?m=user_order&zhuangtai=订单完成">已购买</a></li>
                <script type="text/javascript">document.getElementById("user_left_1").className = "on";</script>
                {else}{/if}
                {if value1="{fzw:url:zhuangtai/}" value2="订单完成" bi="=="}
                <li><a href="/search.aspx?m=user_order">交易订单</a></li>
                <li><a href="/search.aspx?m=user_order&zhuangtai=未付款">未付款</a></li>
                <li class="on"><a href="/search.aspx?m=user_order&zhuangtai=订单完成">已购买</a></li>
                <script type="text/javascript">document.getElementById("user_left_2").className = "on";</script>
                {else}{/if}
            </ul>
        </div>
    <script type="text/javascript" src="/template/m/js2/userCenter.js"></script>
     <script type="text/javascript" src="/template/m/js2/rightBotton.js"></script>
	</body>

</html>