<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>{fzw:key:sitename/}_about us</title>
    <script type="text/javascript" src='/template/default/js2/jquery.js'></script>
	<link rel="stylesheet" type="text/css" href="/template/default/css2/article.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body>
    <!--头部开始-->
    {fzw:inside src="头部.html"/}
    <!--头部结束-->
	<!-- 锚链接 -->
	<div class='navFixedTop' id='navFixedTop'>
		<div class='mask'></div>
		<div class='navContent clearfix'>
			<div class='leftLogo'>
				<img src='/template/default/img/logo.png'>
			</div>
			<div class='rightNav'>
				<div class='show'>
					<span ></span>
					<span ></span>
					<span ></span>
				</div>
				<ul>
					<li><a href='#content1'>关于魅拓</a></li>
					<li><a href='#content2'>专注金属</a></li>
					<li><a href='#content3'>生活艺术</a></li>
					<li><a href='#content4'>全程质造</a></li>
					<li><a href='#content5'>丰富创意</a></li>
					<li><a href='#content6'>多维定制</a></li>
					<li><a href='#content7'>完善售后</a></li>
					<li><a href='#content8'>媒体报道</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class='navFixedSlide'>
		<ul>
			<li><a href='#content1'>关于魅拓</a></li>
			<li><a href='#content2'>专注金属</a></li>
			<li><a href='#content3'>生活艺术</a></li>
			<li><a href='#content4'>全程质造</a></li>
			<li><a href='#content5'>丰富创意</a></li>
			<li><a href='#content6'>多维定制</a></li>
			<li><a href='#content7'>完善售后</a></li>
			<li><a href='#content8'>媒体报道</a></li>
		</ul>
	</div>
	<!-- 内容 -->
	<div class='warpContent'>
		<ul class='contentList'>
			<li class='content content1' name='content1' id='content1'>
				<h1>关于魅拓</h1>
				<img src='/template/default/img/1.jpg'>
				<h2>你好,金属| Hi,metal</h2>
				<h3>金属造物VS小众设计</h3>
				<p class='decs'>
					一些用金属能做出来的好东西，源自魅拓与他的签约设计师们共同努力。通过魅拓将近500天的不懈努力，如今就要与您的生活发生关系，第一批上线的产品是不锈钢水杯，我们推出最切合生活实际使用场景的两种杯型：缓温杯&保温杯，并结合自身多年制作工艺手工镜面抛光，推出光择版本，因此就有了您在首页产品列表中看到的纳斯缓温杯|原版、纳斯缓温杯|光择、纯色保温杯|光择三款商品，结合魅拓今天启动的M+设计计划，目前上架图案已多达800+，签约设计师16位，通过我们搭建的个性印图，让用户得以在线使用这些设计图案，完全按照自己的意愿进行组合排版。是的，当一款使用激光雕刻定制化的水杯到达您手中之前，无论是魅拓的制造工厂，或者创意不断的设计师，亦或是选择组合的用户，我们三者，都是造物者。这就是魅拓的核心理念，让设计靠近每一个小众需求，让定制化落地，创造造物的快乐的杯身个性化标识。

				</p>
				<h3>故事 | STORY</h3>
				<img src='/template/default/img/2.jpg'>
				<p>
					魅拓前身为进出口金属加工制造工厂，该工厂多年金属制品加工经验，分别在安徽上海拥有流水线厂房与CNC加工中心，2015年由工厂管理高层组建魅拓，公司创始人结合互联网时代新需求与新思路，从实体为起点，并结合互联网平台，聚合平面设计师群体，进行群体创作，以满足小众性定制需要，提供高质量的定制化服务，在不断聚合生产、设计、技术、运营人才的过程中，逐步形成了打造金属造物品牌的方向
				</p>
				<p class='info'>发展历程</p>
				<ul>
					<li>
						2015年4月魅拓公司在上海注册成立
					</li>
					<li>
						2015年6月魅拓核心团队完成组建
					</li>
					<li>
						2016年8月魅拓制造端供应链初始化完成
					</li>
					<li>
						2015年10月魅拓成都运营中心组建完成
					</li>
					<li>
						2015年10月魅拓首批次产品完成设计研发完成
					</li>
					<li>
						2015年10月魅拓首批次产品正式开始生产
					</li>
					<li>
						2015年11月魅拓国内网上销售平台试运营
					</li>
					<li>
						2016年3月魅拓首批产品远销欧洲，并成功在当地商超上架
					</li>
					<li>
						2016年4月魅拓国内网上销售平台全面开启试运营购买
					</li>
					<li>
						2016年6月魅拓设计师运营中心成立，第一批签约设计师入驻
					</li>
					<li>
						2016年8月魅拓水杯完成质量测试，正式售卖开始
					</li>
				</ul>
				<img src='/template/default/img/3.jpg'>
				<h3>
					这就是魅拓，一家金属造物定制品牌
				</h3>
				<p>
					10月1日魅拓【面见世界】系列产品将全面面市，更加开放的定制部位，更高水准的设计水平，为消费者提供更加丰富多彩的造物世界。
				</p>
				<img src='/template/default/img/4.jpg'>
			</li>
			<li class='content content2' name='content2' id='content2'>
				<h1>专注金属</h1>
				<p>
					人类的历史，亦是一段材料运用史，从石制品到陶土，以及之后的铁器，再到如今更高工艺下的合金，在材料端，金属无疑是在实用性与性价之上，都是随时代迁移后的胜利者。魅拓选择金属，是看中了其高延展性与耐用度，通过与个性化结合，打造属于日用金属耐用品关于定制化的金属复兴之路。魅拓前身作为深耕金属加工品进出口制造者，也是专注金属的核心研发保障，这让公司得以在设计端尽情创作，也是魅拓敢于挑战小批量定制化市场，并且高举品质产品的底气。
				</p>
				<img src='/template/default/img/5.jpg'>
				<p>
					目前推出HIMTAL定制系列水杯【钢好一杯】，以及即将发售的HIMETAL联合设计产品【面见世界】均是完全使用金属打造主体，而每一件产品因为其不同的功能与使用场景，都会有针对性的选择最适宜的不锈钢材质完成。
				</p>
				<img src='/template/default/img/6.jpg'>
				<img src='/template/default/img/7.jpg'>
				<img src='/template/default/img/8.jpg'>
			</li>
			<li class='content content3' name='content3' id='content3'>
				<h1>生活艺术</h1>
				<img src='/template/default/img/9.jpg'>
				<p>
					艺术往往是束之高阁，仅可远观的奢侈品，魅拓在每一件产品设计之初，在考虑材质、功能、工艺之前，往往需要付出很多的精力去反复推敲一件产品的设计理念与想要传递的生活态度，艺术若不能体现在生活之中，其高尚将丧失意义，引入艺术生活的态度，并非是为了给产品额外的包装，而是在体贴、精致、小批量，从设计到制造，每一步的努力，都是为了让你在使用例如魅拓一只小小的水杯时，能够在注视着饮品注入的过程，发现这样一只杯子对生活的无足轻重，却又意义非凡。因此魅拓出品并非艺术，因为魅拓不卖奢侈品，我们以性价保证设计的正常落地，我们以实用性作为每一件产品的立项前提，因此，实用与美学，我们希望在一件小小的魅拓出品中，得以在您日常反复使用的过程中，感受到那一分用意，而我们只是为您的生活方式提供多一种不同选择。以上便是魅拓每一位幕后的产品设计师与设计师中心想要和能够向您证明我们存于产品之中的心力。
				</p>
				<img src='/template/default/img/10.jpg'>
				<img src='/template/default/img/11.jpg'>
				<img src='/template/default/img/12.jpg'>
			</li>
			<li class='content content4' name='content4' id='content4'>
				<h1>全程质造</h1>
				<img src='/template/default/img/13.jpg'>
				<img src='/template/default/img/14.jpg'>
				<p>
					通过对工艺细节的控制与全程引入数据控制，对过去人工监守的QC时代告别，因为对于一件产品经过层层工艺最终完成的过程，只有完全可溯源，才能叫做质造，这一切依托于魅拓深耕生产管理与数据化投入直接相关，之后魅拓将在本年完成工厂全数据化基础层搭建，并进一步向工业4.0靠近，打造质造升级“智造”，为消费者提供产品质量的依靠。
				</p>
				<img src='/template/default/img/15.jpg'>
			</li>
			<li class='content content5' name='content5' id='content5'>
				<h1>丰富创意</h1>
				<p>
					800+图案设计，16位签约设计持续出新，用户在线自主拼图完成一次专属创意。每一个不同的人购买，就有一只不同的HIMETAL定制水杯诞生。
				</p>
				<img src='/template/default/img/16.jpg'>
				<img src='/template/default/img/17.jpg'>
			</li>
			<li class='content content6' name='content6' id='content6'>
				<h1>多维定制</h1>
				<img src='/template/default/img/18.jpg'>
				<p>
					使用激光进行雕刻只是魅拓要实现的小小一步，接下来即将开售的HIMETAL联合设计【面见世界】将在定制化深度、用户参与定制过程玩法中进一步升级，为你的专属提供犹如游乐园般的过程，同样保障实时、快捷与高质的产品定制。
如何使用这些创意:
•选择你喜欢的产品进入商品详情页，在购买位置点击个性印图，开始你的定制之旅；
•在首页活动区域，点击主题进入活动页面，通过快速切换预览获得印图水杯，并在结算时留言需要雕刻的文字即可。
				</p>
				<img src='/template/default/img/19.jpg'>
			</li>
			<li class='content content7' name='content7' id='content7'>
				<h1>完美售后</h1>
				<img src='/template/default/img/20.jpg'>
				<p class='info'>
					注册成为HIMETAL金属制品会员
				</p>
				<ul>
					<li>
						完全线上个性化DIY拼接，更多素材，更多可能
					</li>
					<li>
						购买产品后享有积分，可在之后进行多种优惠兑换
					</li>
					<li>
						激活产品，享有完全售后服务
					</li>
				</ul>
				<p class='info'>
					会员注册方式（拥有魅拓官网账号，即可成为魅拓会员，并享有所有目前以及未来的会员专属服务与优惠）
				</p>
				<ol>
					<li>
						打开魅拓官网www.xiaoyu4.com
					</li>
					<li>
						点击右上角注册按钮
					</li>
					<li>
						按照提示完成注册
					</li>
				</ol>
				<div class='link'>
					<ul class='clearfix'>
						<li>
							<a href='http://www.xiaoyu4.com/Single.aspx?m=help'>产品激活</a>
						</li>
						<li>
							<a href='http://www.xiaoyu4.com/Single.aspx?m=help'>常见问题</a>
						</li>
						<li>
							<a href='http://www.xiaoyu4.com/Single.aspx?m=help#BDBridgeFixedWrap'>咨询客服</a>
						</li>
					</ul>
				</div>
			</li>
			<li class='content content8' name='content8' id='content8'>
				<h1>媒体报道</h1>
				<img src='/template/default/img/21.jpg'>
				<ul>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://roil.sohu.com.cm/20160411/n3894932686961.html'>魅拓推出缓温杯定义杯子新维度</a>
						</div>
						<div class='right'>
							 搜狐新闻
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://xiaofei.tom.com/2016-04-22/0013/31972874.html'>魅拓推出缓温杯新品牌反潮流的杯子究竟有何玄机？ </a>
						</div>
						<div class='right'>
							  TOM新闻
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://news.sina.com.cn/o/2016-04-25/doc-ifxrpvqz6755180.shtml'>魅拓非智能水杯新模式 </a>
						</div>
						<div class='right'>
							   齐鲁晚报
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://www.youngchina.cn/luxury/20160425/61539.html'>魅拓邀约设计师打造杯子标识盛宴</a> 
						</div>
						<div class='right'>
							时尚中国
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://www.toutiao.com/i6277149475924345345/'>魅拓水杯4月开放购买</a> 
						</div>
						<div class='right'>
							今日头条
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://toutiao.com/i6278467185421582849/'>个性X金属，魅拓演绎水杯新时尚</a>  
						</div>
						<div class='right'>
							绸都在线
						</div>
					</li>
					<li class='clearfix'>
						<div class='left'>
							<a href='http://xiaofei.china.com.cn/news/info-11-9-190767.html'>魅拓推出缓温杯新品牌 </a>
						</div>
						<div class='right'>
							中国网
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
    <!--尾部开始-->
    {fzw:inside src="底部.html"/}
    <!--尾部结束-->
	<script type="text/javascript" src='/template/default/js2/article.js'></script>
</body>
</html>