<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
        <title>会员中心_{fzw:key:sitename/}</title>
	</head>

	<body class="body_bg">
        {fzw:inside src="头部.html"/}
		
		<div class="w_1200 pad_20_0">
            {fzw:inside src="user_left.html"/}
		    <div class="u_right">
		       <h1 class="u_pagetop">我的推荐</h1>
		       <br />
		       <ul class="u_tab">
		       	<li class="on">对账信息</li>
		       </ul>
		       <table class="u_table1 mar_t_10">
		       	<tr>
		       		<th width="20%">会员名</th>
		       		<th width="20%">注册时间</th>
		       		<th width="25%">会员类型</th>
		       		<th width="20%">激活</th>
		       		
		       	</tr>
             {fzw:search table="sl_user" sqlvalue="jieshaoren='{fzw:cookie name="user_name" /}'" number="15" order="dtime" orderby="desc" id="p1"}
           
		       	<tr>
		       		<td>{fzw:p1:yonghuming   string="shouji"/}</td>
		       		<td><span class="txt_red">￥{fzw:p1:dtime/}</span></td>
		       		<td>
                     {fzw:p1:yonghujibie/}
		       		</td>
		       		<td>{fzw:p1:jihuo/}</td>
                    
		       	</tr>
		      {/fzw:search}
		       </table><br />
                <h1 class="u_pagetop">我的邀请</h1>
                <div class="yF_div clearFix">
                    <table class="sz_table">
                        <tr>
                            <td style="line-height:30px; padding-top:10px; padding-bottom:10px">
                                <textarea cols="20" class="l_r_input" rows="10" style="height:140px" id="biao1">我是（{if value1="{fzw:cookie name="user_name" /}" value2="" bi="=="}{fzw:sql="select top 1 * from sl_user where yonghuming='{fzw:cookie name="user_name" /}' order by id asc" id="p1"}{fzw:p1:zhenshixingming/}{/fzw:sql}{else}{fzw:cookie name="user_name" /}{/if}），我在魅拓线上售卖看到好多好看的产品，您也快来看看吧！{fzw:key:siteweb/}?reg.html&yonghuming={fzw:cookie name=" user_name"=user_name" /}</textarea>
                                <br /><br />
                                <input type="button" class="l_r_btn" value="复制链接" onclick="copyUrl2()" />
                            </td>

                            <td><img src="http://qr.liantu.com/api.php?text={fzw:key:siteweb/}yaoqing.aspx?yonghuming={fzw:cookie name=" user_name"=user_name" /}" /></td>

                        </tr>

                    </table>

                </div>
		    </div>

		</div>
		
        {fzw:inside src="底部.html"/}
	</body>

</html>