<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/template/default/css2/designerList.css">
    <script type="text/javascript" src='/template/default/js/jquery.js'></script>
    <title>设计师列表</title>
</head>
<body>
{fzw:inside src="头部.html"/}
    <!--头部结束-->
    <!--头图-->
    <div class="titlePic">
        <img src="/template/default/img/degnListH.gif">
    </div>
    <!--产品设计师-->
    <div class="prodDesi" id="prodDesi">
        <div class="DesiTitle">
            <img src="/template/default/img/prodDesiTitle.gif">
        </div>

        <ul class="proDesList clearfix" id="proDesList">
            {fzw:sql="select * from sl_user where yonghujibie = '设计会员' and shejileibie='产品' and jihuo='是'" id="p1"}
            <li class="item">
                <a href="/single.aspx?m=designCenter&id={fzw:p1:id/}&username={fzw:p1:yonghuming/}">
                    <img src="{fzw:p1:fengmiantu/}">
                </a>
            </li>
            {/fzw:sql}
        </ul>
    </div>
    <!--印图设计师-->
    <div class="picDesi" id="picDesi">
        <div class="DesiTitle">
            <img src="/template/default/img/picDesTitle.gif">
        </div>
        <ul class="picDesList clearfix" id = "picDesList">
            {fzw:sql="select * from sl_user where yonghujibie = '设计会员' and shejileibie='设计' and jihuo='是' order by dtime desc" id="p2"}
            <li class="item">
                <a href="/user/{fzw:p2:yonghuming sql="sl_userdomain|where&nbsp;yonghuming='&dangqian'|yuming"/}.aspx">
                    <img src="{fzw:p2:fengmiantu/}">
                </a>
            </li>
            {/fzw:sql}
        </ul>
    </div>
    <!--页脚-->
{fzw:inside src="底部.html"/}
    <script type="text/javascript" src='/template/default/js/designerList.js'></script>
</body>
</html>