<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/template/default/css2/designerList.css">
    <script type="text/javascript" src='/template/default/js/jquery.js'></script>
    <title>设计师列表</title>
</head>
<body>
    <!--头部-->
    {fzw:inside src="头部.html"/}
    <!--头部结束-->
    <!--头图-->
    <div class="titlePic">
        <img src="/template/default/img/banner1.jpg">
    </div>
    <!--产品设计师-->
    <div class="prodDesi" id="prodDesi">
        <ul class="proDesList clearfix" id="proDesList">
            <li class="item" data-index="1">
                <a href="#">
                    <img src="/template/default/img/prodDesc1_1.jpg">
                </a>
            </li>
            <li class="item" data-index="2">
                <a href="#">
                    <img src="/template/default/img/prodDesc2_1.jpg">
                </a>
            </li>
            <li class="item" data-index="3">
                <a href="#">
                    <img src="/template/default/img/prodDesc3_1.jpg">
                </a>
            </li>
            <li class="item" data-index="4">
                <a href="#">
                    <img src="/template/default/img/prodDesc4_1.jpg">
                </a>
            </li>
            <li class="item" data-index="5">
                <a href="#">
                    <img src="/template/default/img/prodDesc5_1.jpg">
                </a>
            </li>
            <li class="item" data-index="6">
                <a href="#">
                    <img src="/template/default/img/prodDesc6_1.jpg">
                </a>
            </li>
        </ul>
    </div>
    <!--印图设计师-->
    <div class="picDesi" id="picDesi">
        <ul class="picDesList clearfix" id = "picDesList">
            <li class="item" data-index="1">
                <a href="#">
                    <img src="/template/default/img/picDesc1_1.jpg">
                </a>
            </li>
            <li class="item" data-index="2">
                <a href="#">
                    <img src="/template/default/img/picDesc2_1.jpg">
                </a>
            </li>
            <li class="item" data-index="3">
                <a href="#">
                    <img src="/template/default/img/picDesc3_1.jpg">
                </a>
            </li>
            <li class="item" data-index="4">
                <a href="#">
                    <img src="/template/default/img/picDesc4_1.jpg">
                </a>
            </li>
            <li class="item" data-index="5">
                <a href="#">
                    <img src="/template/default/img/picDesc5_1.jpg">
                </a>
            </li>
            <li class="item" data-index="6">
                <a href="#">
                    <img src="/template/default/img/picDesc6_1.jpg">
                </a>
            </li>
            <li class="item" data-index="7">
                <a href="#">
                    <img src="/template/default/img/picDesc7_1.jpg">
                </a>
            </li>
            <li class="item" data-index="8">
                <a href="#">
                    <img src="/template/default/img/picDesc8_1.jpg">
                </a>
            </li>
            <li class="item" data-index="9">
                <a href="#">
                    <img src="/template/default/img/picDesc9_1.jpg">
                </a>
            </li>
            <li class="item" data-index="10">
                <a href="#">
                    <img src="/template/default/img/picDesc10_1.jpg">
                </a>
            </li>
            <li class="item" data-index="11">
                <a href="#">
                    <img src="/template/default/img/picDesc11_1.jpg">
                </a>
            </li>
            <li class="item" data-index="12">
                <a href="#">
                    <img src="/template/default/img/picDesc12_1.jpg">
                </a>
            </li>
            <li class="item" data-index="13">
                <a href="#">
                    <img src="/template/default/img/picDesc13_1.jpg">
                </a>
            </li>
            <li class="item" data-index="14">
                <a href="#">
                    <img src="/template/default/img/picDesc14_1.jpg">
                </a>
            </li>
            <li class="item" data-index="15">
                <a href="#">
                    <img src="/template/default/img/picDesc15_1.jpg">
                </a>
            </li>
            <li class="item" data-index="16">
                <a href="#">
                    <img src="/template/default/img/picDesc16_1.jpg">
                </a>
            </li>
        </ul>
    </div>
    <!--页脚-->
    {fzw:inside src="底部.html"/}
    <script type="text/javascript" src='/template/default/js2/designerList.js'></script>
</body>
</html>