<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>设计师中心</title>
    <link type="text/css" rel="stylesheet" href="/template/default/css2/designCenter.css">
    <script type="text/javascript" src='/template/default/js/jquery-1.11.2.min.js'></script>
    <script src="/inc/layer/layer.js" type="text/javascript"></script>
    <script src="/inc/product_ajax.js" type="text/javascript"></script>
</head>
<body>
    <!--头部-->
    {fzw:inside src="头部.html"/}
    {fzw:sql="select Top 1 zhaopai,xingming,ziwomiaoshu from sl_user where id='{fzw:url:id/}'" id="p1"}
    <div class="designerTitle">
        <img src="{fzw:p1:zhaopai/}">
    </div>
    <div class="designerDesc">
        <h1 class="name">{fzw:p1:xingming/}</h1>
        <p class="detail">
            {fzw:p1:ziwomiaoshu/}
        </p>
    </div>
    {/fzw:sql}
    <!--作品及作品介绍列表-->
    <div class="article">
        <ul class="list">
            {fzw:for:sql="select xilie,wenzhangbianhao from sl_xiangguanchanpin where shejishi = '{fzw:url:username/}' group by xilie,wenzhangbianhao" id="p2"}
            <h3>{fzw:p2:xilie/}</h3>
            <li class="item">

                <ul class="productList clearfix">
                    {fzw:for:sql="select * from sl_xiangguanchanpin where xilie = '{fzw:p2:xilie/}'" id="p3"}
                    <li class="productItem">
                         <img src="{fzw:p3:guanliantu/}">
                         <p class="name">{fzw:p3:chapinbh sql="sl_product|where&nbsp;id='&dangqian'|biaoti"/}</p>
                        <p id="kucun">库存：{fzw:p3:chapinbh sql="sl_product|where&nbsp;id='&dangqian'|kucun"/}</p>
                        <div class="opera">
                            <p class="price">￥{fzw:p3:chapinbh sql="sl_product|where&nbsp;id='&dangqian'|jiage"/}</p>
                            <a href="javascript:void(0)" onclick="set_cart({fzw:p3:chapinbh/},1,'产品')" class="sale">购买</a>
                        </div>
                        <input style="display: none;" id="shuliang" value="1">
                        <input style="display: none;" id="yonghujibie" value="{fzw:cookie:name='yonghujibie'/}">

                    </li>
                    {/fzw:for:sql}
                </ul>
                <div class="detail">
                    {fzw:for:sql="select Top 1 neirong from sl_article where id = '{fzw:p2:wenzhangbianhao/}'" id="p4"}
                    <p class="decs">
                        {fzw:p4:neirong/}
                    </p>
                    {/fzw:for:sql}
                </div>
            </li>
            {/fzw:for:sql}
        </ul>
    </div>
    <!--页脚-->
    {fzw:inside src="底部.html"/}

    <script type="text/javascript" src="/App_Api/common_ghy.js"></script>
    <script src="js/common.js" type="text/javascript"></script>

</body>
</html>