<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
        <title>文章管理_{fzw:key:sitename/}</title>
	</head>

	<body class="body_bg">
        {fzw:inside src="头部.html"/}
		
		<div class="w_1200 pad_20_0">
            {fzw:inside src="user_left.html"/}
            <script type="text/javascript">document.getElementById("user_left_5").className = "on";</script>
		    <div class="u_right">
		       <h1 class="u_pagetop">文章管理</h1>
		       <br />
		       <div class="slide">
		      	<ul class="u_tab">
		       	<li class="on"><a href="/search.aspx?m=design_article">我的文章</a></li>
		       	<li><a href="/single.aspx?m=design_article_add">发布文章</a></li>
		       </ul>
		       <br />
		       <!--我的文章-->
		       <table class="u_table1 mar_t_10 u_slide_c">
		       	<tr>
		       		<th width="35%" style="text-align: left;">文章标题</th>
		       		<th width="20%">发布日期</th>
		       		<th width="15%">人气</th>
		       		<th width="15%">评论</th>
		       		<th width="15%">操作</th>
		       	</tr>
             {fzw:search table="sl_article" sqlvalue="yonghuming='{fzw:cookie name="user_name"/}'&nbsp;and&nbsp;classid=14" number="15" order="dtime" orderby="desc" id="p1"}
		       	<tr>
		       		<td style="text-align: left;"><a href="/page.aspx?id={fzw:p1:id/}&classid={fzw:p1:classid/}" class="ft_b">{fzw:p1:biaoti/}</a></td>
		       		<td>
                     {fzw:p1:dtime/}
		       		</td>
		       		<td>{fzw:p1:renqi/}</td>
		       		<td>{fzw:p1:renqi/}</td>
		       		<td>
                        <a href="/Single.aspx?m=design_article_edit&id={fzw:p1:id/}" class="u_btn1">编辑</a>
                        <a href="/Execution.aspx?type=del&t=article&tipurl=/search.aspx?m=design_article&tip_string=删除成功&id={fzw:p1:id/}" onclick="return confirm('您确认删除此信息？');" class="u_btn1">删除</a>
		       		</td>
		       	</tr>
             {/fzw:search}
		       </table>
		    	
		    	</div>
                <div class="page">
                    {fzw:search:page id="p1" size="8"/}
                </div>
		    </div>
		</div>
		
        {fzw:inside src="底部.html"/}
	</body>

</html>