<footer>
    <div class='footer'>
        <ul class='exLink clearfix'>
            <li>
                <a href='#' class='link0'></a>
            </li>
            <li>
                <a href='#' class='link1'></a>
            </li>
            <li>
                <a href='#' class='link2'></a>
            </li>
            <li class='weixin'>
                <a href='#' class='link3'></a>
                <div class='code'></div>
            </li>
        </ul>
        <ul class='help clearfix'>
            <li class='exHelp'>
                <span>购物帮助</span>
                <ul class='shop'>
                    <li>
                        <a href='#'>购物帮助</a>
                    </li>
                </ul>
            </li>
            <li class='exHelp'>
                支付帮助
                <ul class='pay'>
                    <li>
                        <a href='#'>在线支付</a>
                    </li>
                    <li>
                        <a href='#'>转账汇款</a>
                    </li>
                </ul>
            </li>
            <li class='exHelp'>
                配送帮助
                <ul class='send'>
                    <li>
                        <a href='#'>配送流程</a>
                    </li>
                </ul>
            </li>
            <li class='exHelp'>
                售后服务
                <ul class='aftSale'>
                    <li>
                        <a href='#'>退换货服务</a>
                    </li>
                    <li>
                        <a href='#'>普通会员注册协议</a>
                    </li>
                </ul>
            </li>
            <li class='exHelp'>
                关于我们
                <ul class='pay'>
                    <li>
                        <a href='#'>HIMETAL</a>
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            沪 | CP备15044415号-2<br>
            copyright 未 2015 xiaoyu4.com AllRights Reserve  版权所有<span> . </span>上海魅拓贸易有限公司<br>
            客服电话：（028）82782530<br>
            邮箱：metal@xiaoyu4.com  快递查询
        </p>
    </div>
</footer>