<header>
    <nav>
        <div class='myNav clearfix'>
            <div class='logo'>
                <img src='/template/default/img/logo.png'>
            </div>
            <ul class='outer' id='outer'>
                <li class='outerList' id='outerList1'>
                    <a href='javascript:void(0)' id='link1' class='link'>产品
                        <span></span>
                    </a>
                    <ul class='inter' id='inter1'>
                        <li>
                            <a href='http://www.xiaoyu4.com/page.aspx?id=27&classid=1'>
                                <div class='menu chp chp1'></div>
                                <strong><span>纳斯缓温杯</span>光泽</strong>
                            </a>
                        </li>
                        <li>
                            <a href='http://www.xiaoyu4.com/page.aspx?id=28&classid=1'>
                                <div class='menu chp chp2'></div>
                                <strong><span>纳斯缓温杯</span>原版</strong>
                            </a>
                        </li>
                        <li>
                            <a href='http://www.xiaoyu4.com/page.aspx?id=26&classid=1'>
                                <div class='menu chp chp3'></div>
                                <strong><span>纯色保温杯</span>光泽</strong>
                            </a>
                        </li>
                        <li>
                            <a href='javascript:void(0)'>
                                <div class='menu chp chp4'></div>
                                <strong>创意饰品</strong>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='outerList' id='outerList2'><a href='javascript:void(0)' id='link2' class='link'>服务<span></span></a>
                    <ul class='inter' id = 'inter2'>
                        <li>
                            <a href='http://www.xiaoyu4.com/single.aspx?m=article#content6'>
                                <div class='menu fw fw1'></div>
                                <strong>激光雕刻</strong>
                            </a>
                        </li>
                        <li>
                            <a href='http://www.xiaoyu4.com/single.aspx?m=article#content5'>
                                <div class='menu fw fw2'></div>
                                <strong>签约设计</strong>
                            </a>
                        </li>
                        <li>
                            <a href='http://www.xiaoyu4.com/Single.aspx?m=help#searchvalue'>
                                <div class='menu fw fw3'></div>
                                <strong>在线客服</strong>
                            </a>
                        </li>
                        <li>
                            <a href='http://www.xiaoyu4.com/Single.aspx?m=help'>
                                <div class='menu fw fw4'></div>
                                <strong>服务支持</strong>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class='userOp clearfix'>
                <li class='denglu'><a href='#'>登录</a></li>
                <li class='zhuce'><a href='#'>注册</a></li>
            </ul>
        </div>
    </nav>

</header>