<table class="home_menu">
	<tr>
		<td>
			<div class="sHoverItem">
			<div class="text_box">
				<a href="/Single.aspx?m=index-1">
					<img src="images/home_menu1.png" class="ver-mid" />
					<div class="text">
						<p class="title">创意盒子</p>
						<p class="sub">让生活美好起来</p>
					</div>
				</a>
			</div>
			<div class="sIntro"></div>
			</div>
		</td>
		<td>
			<div class="sHoverItem">
			<div class="text_box">
				<a href="/Single.aspx?m=index-2">
					<img src="images/home_menu2.png" class="ver-mid" />
					<div class="text">
						<p class="title">主打产品</p>
						<p class="sub">让生活美好起来</p>
					</div>
				</a>
			</div>
			<div class="sIntro"></div>
			</div>
		</td>
		<td>
			<div class="sHoverItem">
			<div class="text_box">
				<a href="/Single.aspx?m=index-4">
					<img src="images/home_menu3.png" class="ver-mid" />
					<div class="text">
						<p class="title">设计榜单</p>
						<p class="sub">让生活美好起来</p>
					</div>
				</a>
			</div>
			<div class="sIntro"></div>
			</div>
		</td>
		<td>
			<div class="sHoverItem">
			<div class="text_box">
				<a href="/Single.aspx?m=index-3">
					<img src="images/home_menu2.png" class="ver-mid" />
					<div class="text">
						<p class="title">文化&活动</p>
						<p class="sub">精彩活动等你来参加</p>
					</div>
				</a>
			</div>
			<div class="sIntro"></div>
			</div>
		</td>
	</tr>
</table>
<script src="js/sHover.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var a = new sHover("sHoverItem", "sIntro");
	
	$(".sIntro").css("opacity","0");
</script>