<!DOCTYPE html>
<html>
<head>
    <meta charset="gb2312" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <title>用户看看_{fzw:key:sitename/}</title>
    <script type="text/javascript" src="/inc/product_ajax.js"></script>
</head>
<body class="body_bg">
    {fzw:inside src="头部.html"/}

    <div class="w_1300">
        <div class="pad_10">
            <!--看看图库-->
            <h3 class="h3"><a href="/search.aspx?m=kankan_" class="ft_14 fr">查看更多</a>看看图库</h3>
            
            <ul class="kktk_list1">
                    {fzw:for:sql="select top 10 * from sl_zuopin where  shenhe='已审核' and shangjia='是' order by paixu desc, id desc" id="p1"}
					<li>
						<div class="tk_img">
							<a href="/Single.aspx?m=index-1&laiyuanbianhao={fzw:p1:laiyuanbianhao/}&id={fzw:p1:id/}" style="text-align: center;"><img src="{fzw:p1:suoluetu  string="zutu"/}" height="255"  class="ver-mid" /></a>
							<div class="btn_list">
                                 {if value1="{fzw:for:sql="select count(id) as count_id from sl_history where yonghuming='{fzw:cookie name="user_name" /}' and leixing='作品' and laiyuanbianhao={fzw:p1:id/}" id="p2"}{fzw:p2:count_id /}{/fzw:for:sql}" value2="0" bi=">"}
								<a href="javascript:void();" class="dianzan fl"><span class="heart on ver-mid"></span>&nbsp;喜欢</a>
                                {else}
                                <a href="/Execution.aspx?type=add&t=history&tip_string=加入收藏成功&leixing=作品&yonghuming={fzw:cookie name="user_name" /}&laiyuanbianhao={fzw:p1:id/}&tipurl={fzw:key:siteurl/}" class="dianzan fl"><span class="heart ver-mid"></span>&nbsp;喜欢</a>
                                {/if}
                                &nbsp;&nbsp;
                                <a href="/Single.aspx?m=index-1&laiyuanbianhao={fzw:p1:laiyuanbianhao/}&id={fzw:p1:id/}" class="fr"><img src="images/icon_shiyong.png" class="ver-mid"/> 使用</a>
                                
							</div>
						</div>
					</li>
                    {/fzw:for:sql}
				</ul>
				<p class="clear"></p>
            <!--设计师-->
            <h3 class="h3"><a href="/search.aspx?m=designlist" class="ft_14 fr">查看更多</a>设计师</h3>
            <ul class="wz_list sjs_list">
                {fzw:for:sql="select top 6 * from sl_user where yonghujibie='设计会员' and jihuo='是' order by id desc" id="p1"}
                <li>
                    <a href="/user/{fzw:p1:yonghuming sql="sl_userdomain|where&nbsp;yonghuming='&dangqian'|yuming"/}.aspx">
                    <img src="{fzw:p1:touxiang/}" width="100%" height="210" />
                    </a>
                    <div class="text">
                        <p class="ft_b mar_b_10">{if value1="{fzw:p1:xingming/}" value2="" bi="=="}{fzw:p1:yonghuming/}{else}{fzw:p1:xingming/}{/if}</p>
                        <p class="gray">
                            {if value1="{fzw:p1:id sql="sl_history|where&nbsp;yonghuming='{fzw:cookie name="user_name" /}'&nbsp;and&nbsp;leixing='关注设计师'&nbsp;and&nbsp;laiyuanbianhao=&dangqian|count"/}" value2="0" bi=">"}
                            <span class="fr icon_dy" data-id="0">已订阅</span>
                            {else}
                            <span class="fr icon_dy" data-id="{fzw:p1:id/}">订阅</span>
                            {/if}
                            {if value1="{fzw:p1:id sql="sl_history|where&nbsp;yonghuming='{fzw:cookie name="user_name" /}'&nbsp;and&nbsp;leixing='赞设计师'&nbsp;and&nbsp;laiyuanbianhao=&dangqian|count"/}" value2="0" bi=">"}
                            <span class="icon_zan"  data-id="0"><em class="zan_txt">已赞</em><em class="zan_num">{fzw:p1:id sql="sl_history|where&nbsp;leixing='赞设计师'&nbsp;and&nbsp;laiyuanbianhao=&dangqian|count"/}</em></span>
                            {else}
                            <span class="icon_zan" data-id="{fzw:p1:id/}"><em class="zan_txt">赞</em><em class="zan_num">{fzw:for:sql="select count(id) as count_id from sl_history where leixing='赞设计师' and laiyuanbianhao={fzw:p1:id/}" id="p2"}{fzw:p2:count_id /}{/fzw:for:sql}</em></span>
                            {/if}

                        </p>
                    </div>

                </li>
                {/fzw:for:sql}
            </ul>
            <!--文章-->
            <h3 class="h3"><a href="/list.aspx?id=14&Model_id=54" class="ft_14 fr">查看更多</a>文章</h3>
            <div class="white_bg pad_10">
                <div class="slide fl wz_slide" style="width: 370px;">
                    <div class="bd">
                        <ul>
                            {fzw:sql="select top 5  * from sl_article where prope like '%推荐%' and classid=14 order by paixu desc,id desc" id="p1"}
                            <li>
                                <div class="pos_relative">
                                    <a href="{fzw:pageurl /}">
                                        <img src="{fzw:p1:suoluetu/}" width="370" height="222" class="ver-mid" />
                                    </a>
                                    <div class="trans">
                                        <p class="pad_10 ft_14">
                                            <a href="{fzw:pageurl /}">{fzw:p1:biaoti/}</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {/fzw:sql}
                        </ul>
                    </div>
                    <div class="hd dot_hd">
                        <ul></ul>
                    </div>
                </div>
                <script type="text/javascript">
		    	    	jQuery(".slide").slide({mainCell:".bd ul",titCell:".hd ul",autoPage:"<li></li>"})
                </script>

                <div class="fl w_590" style="margin: 6px 20px 0 20px;">
                    {fzw:sql="select top 1  * from sl_article where prope like '%头条%' and classid=14 order by paixu desc,id desc" id="p1"}
                    <p class="ft_16 ft_b"><a href="{fzw:pageurl /}">{fzw:p1:biaoti/}</a></p>
                    <p class="gray mar_t_10 mar_b_10">{fzw:p1:neirong nohtml="yes" size="100"/} &nbsp;&nbsp;<a href="{fzw:pageurl /}" class="txt_red">查看更多>> </a></p>
                    {/fzw:sql}
                    <ul class="ul_iconpaper">
                        {fzw:sql="select top 4  * from sl_article where classid=14 order by paixu desc,id desc" id="p1"}
                        <li>
                            <span class="fr gray">{fzw:p1:dtime datetime="yyyy-MM-dd"/}</span>
                            <a href="{fzw:pageurl /}">{fzw:p1:biaoti/}</a>
                        </li>
                        {/fzw:sql}
                    </ul>
                </div>
                <ul class="wz_list fr" style="background: transparent;padding: 0;">
                    {fzw:sql="select top 1  * from sl_article where prope like '%头条%' and classid=14 order by paixu desc,id desc" id="p1"}
                    <li style="margin: 0;">
                        <a href="{fzw:pageurl /}">
                            <img src="{fzw:p1:suoluetu/}" width="100%" height="175" />
                            <div class="text">
                                <p class="ft_b">{fzw:p1:biaoti/}</p>
                                <p class="gray">阅读量：{fzw:p1:renqi/}</p>
                            </div>
                        </a>
                    </li>
                    {/fzw:sql}
                </ul>
                <p class="clear"></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        
        $(document).on('click', '.icon_dy', function (e) {
            var _this = $(this);
            var id=$(this).data('id');
            
            $(this).data("id","0");
           
            if(id!="0")
            {
                $.ajax({
                    type: "GET",
                    url: "/Execution.aspx?type=history&t=history&tip_string=关注设计师成功&leixing=关注设计师&dingdanhao=&yonghuming={fzw:cookie name="user_name" /}&laiyuanbianhao="+id,
                    success: function (data) {
                        alert("订阅成功");
                        _this.html("已订阅");
                       
                    }
            });
            }
        });

        $(document).on('click', '.icon_zan', function (e) {
            var _this = $(this);
            var id=$(this).data('id');
            $(this).data("id","0");
            
            var zan_num = parseInt(_this.find(".zan_num").html())+1;
            if(id!="0")
            {
                $.ajax({
                    type: "GET",
                    url: "/Execution.aspx?type=history&t=history&tip_string=赞设计师成功&leixing=赞设计师&dingdanhao=&yonghuming={fzw:cookie name="user_name" /}&laiyuanbianhao="+id,
                    success: function (data) {
                        alert("点赞成功");
                     _this.find(".zan_num").html(zan_num);
                     _this.find(".zan_txt").html("已赞");
                    }
            });
            }
        });
    </script>
    {fzw:inside src="底部.html"/}
</body>
</html>