<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
        <title>找回密码_{fzw:key:sitename/}</title>
     
	</head>

	<body class="body_bg">
        {fzw:inside src="头部.html"/}

		<div class="w_1300">
            <ul class="reg_type">
                <li class="on">找回密码</li>
             
            </ul>
		    <p class="clear"></p>
		    <div class="white_bg" style="padding: 50px;">
		        <div class="reg">
                    <form name="fff2" class="is_form" id="fff2" method="post" action="/Execution.aspx?type=getpass&t=user&tipurl=/?login.html&tip_string=密码找回成功！">
                        <table class="reg_table">
                            <tr>
                                <th width="90"><em class="txt_red">*</em>手机号码：</th>
                                <td>
                                    <input type="text" class="input" placeholder="请输入手机号" id="shouji" name="shouji" />
                                    <p class="lh_30">(5-20位字母、数字或下划线组合，首字母必须为字母)</p>
                                </td>
                            </tr>
                            <tr>
                                <th><em class="txt_red">*</em>验证码：</th>
                                <td>
                                    <input type="text" class="input" id="shoujiyzm" name="shoujiyzm" style="width: 62px" /><input type="button" value="获取验证码" onclick="send_jiaoyanma(this)" class="btn-success" />

                                </td>
                            </tr>
                            <tr>
                                <th><em class="txt_red">*</em>密码：</th>
                                <td>
                                    <input type="password" class="input" id="mima" name="mima" />
                                    <p class="lh_30">(为了您的账号安全，并且密码长度大于6位)</p>
                                </td>
                            </tr>
                            <tr>
                                <th><em class="txt_red">*</em>确认密码：</th>
                                <td>
                                    <input type="password" class="input" id="mima_" name="mima_" />
                                    <p class="lh_30">(确保密码输入正确)</p>
                                </td>
                            </tr>
                           

                            <tr>
                                <th></th>
                                <td>
                            
                                    <input type="submit" value="确认注册" class="btn btn_submit" onclick="return password()" />
                                </td>
                            </tr>
                        </table>
                    </form>
</div>
		   		<div class="reg_login">
                 <form name="fff2" id="fff2" method="post" action="/Execution.aspx?type=login&t=user&tipurl={fzw:url:tipurl /}&tip_string=会员登录成功！">
                     <div class="login">
                         <p class="ft_18" style="margin-bottom: 20px;">如果你已是魅拓会员</p>
                         <input type="text" placeholder="用户名" class="input" id="yonghuming" name="yonghuming"/>
                         <input type="password" placeholder="密码" class="input" id="mima1" name="mima"/>
                         <p class="mar_b_10">
                             <input type="checkbox" />&nbsp;一周内自动登录
                         </p>
                         <input type="submit" value="登录" class="btn btn_black" onclick="return login1()" />
                     </div>
                     </form>
</div>
		        <p class="clear"></p>
		    </div>
		</div>
        <script type="text/javascript">
        

			       function send_jiaoyanma(btn) {
			          
			               //手机验证

			               var myreg = /^1+\d{10}$/;
			               if (!myreg.test(document.getElementById('shouji').value)) {
			                   layer.alert("手机号不正确");

			               }
			               else {
			                   $(btn).attr("disabled", true);
			                   var count = 120;
			                   var countdown = setInterval(countDown, 1000);
			                   function countDown() {
			                       $(btn).val(count + "秒后可重新获取");
			                       if (count == 0) {
			                           $(btn).removeAttr("disabled").val("重新获取验证码");
			                           clearInterval(countdown);
			                       }
			                       count--;
			                   }
			                   //获取手机验证码
			                   $.ajax({
			                       type: "POST",
			                       url: "/Execution.aspx?type=shoujigetpass&shouji=" + document.getElementById('shouji').value + "",
			                       processData: true,
			                       success: function (data) {
			                           if (data == "ok") {
			                               layer.msg("验证码发送成功");
			                           }
			                           else {
			                               layer.msg("验证码发送成功");
			                           }
			                       }
			                   })
			               }
			           }
			      
        </script>
        {fzw:inside src="底部.html"/}
	</body>

</html>