<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="gb2312">
    <title>画心列表</title>
    <link type="text/css" rel="stylesheet" href="./css/photoList.css">
    <script type="text/javascript" src="./js/jquery-1.11.2.min.js"></script>
</head>
<body>
    <header></header>
    <div class="g-main">
        <!--画心列表-->
        <ul class="m-list f-cleanfix" id="pList">
            <li class="c-item f-float-l">
                <div class="img">
                    <a href="#">
                        <span class="frame"></span>
                        <img src="./img/2.jpg" data-fill="yes"/>
                    </a>
                </div>
                <div class="txt f-cleanfix">
                    <p class="pName f-float-l">《打飞机的角度看》</p>
                    <p class="pAuthor f-float-l f-text-r">qxqstar</p>
                </div>
            </li>
            <li class="c-item f-float-l">
                <div class="img">
                    <a href="#">
                        <span class="frame"></span>
                        <img src="./img/3213.jpg" data-fill="yes"/>
                    </a>
                </div>
                <div class="txt f-cleanfix">
                    <p class="pName f-float-l">《打飞机的角度看》</p>
                    <p class="pAuthor f-float-l f-text-r">qxqstar</p>
                </div>
            </li>
            <li class="c-item f-float-l">
                <div class="img">
                    <a href="#">
                        <span class="frame"></span>
                        <img src="./img/10.jpg" data-fill="no"/>
                    </a>
                </div>
                <div class="txt f-cleanfix">
                    <p class="pName f-float-l">《打飞机的角度看》</p>
                    <p class="pAuthor f-float-l f-text-r">qxqstar</p>
                </div>
            </li>
            <li class="c-item f-float-l">
                <div class="img">
                    <a href="#">
                        <span class="frame"></span>
                        <img src="./img/1.jpg" data-fill="no"/>
                    </a>
                </div>
                <div class="txt f-cleanfix">
                    <p class="pName f-float-l">《打飞机的角度看》</p>
                    <p class="pAuthor f-float-l f-text-r">qxqstar</p>
                </div>
            </li>
            <li class="c-item f-float-l">
                <div class="img">
                    <a href="#">
                        <span class="frame"></span>
                        <img src="./img/2.jpg" data-fill="yes"/>
                    </a>
                </div>
                <div class="txt f-cleanfix">
                    <p class="pName f-float-l">《打飞机的角度看》</p>
                    <p class="pAuthor f-float-l f-text-r">qxqstar</p>
                </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="./js/photoList.js"></script>
</body>
</html>