<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="layer/skin/layer.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="layer/layer.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
		<title></title>
	</head>

	<body class="body_bg">
		<div class="header">
			<div class="header_inner">
				<a href="#" class="header_icon_user fr">个人中心</a>
				<div class="h_search fr">
					<input type="text" class="search_input" placeholder="输入关键字" />
					<a href="#" class="search_btn">&nbsp;</a>
				</div>
				<div class="nav fr">
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="#">产品中心</a></li>
						<li><a href="#">用户看看</a></li>
						<li><a href="#">积分商城</a></li>
						<li><a href="#">服务支持</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
				<a href="#"><img src="images/logo.png" /></a>
			</div>
		</div>
		<div class="innerBanner">
			<div class="bd">
				<ul>
					<li style="background:url(images/banner_cppd.jpg) center center no-repeat;">
						<a href="#"></a>
					</li>
					<li style="background:url(images/banner_cppd.jpg) center center no-repeat;">
						<a href="#"></a>
					</li>
					<li style="background:url(images/banner_cppd.jpg) center center no-repeat;">
						<a href="#"></a>
					</li>
				</ul>
			</div>
			<div class="hd">
				<ul></ul>
			</div>
			<a href="javascript:;" class="prev slide_prev"></a>
			<a href="javascript:;" class="next slide_next"></a>
		</div>
		<script type="text/javascript">
			jQuery(".innerBanner").slide({
				mainCell: ".bd ul",
				titCell: ".hd ul",
				autoPlay: true,
				autoPage: "<li></li>"
			})
		</script>

		<div class="w_1300 pad_20_0">

			<!--产品分类-->
			<div class="goods_menu">
				<ul class="goods_menu_ul">
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>
					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
					<li class="nLi">
						<p class="goods_sort">产品类别1</p>
						<p class="gray">你的创意，苛刻呈现</p>
						<div class="goods_menu_sub">
							<p class="ft_b lh_30">这是一个分类</p>
							<div class="goods_menu_a">
								<a href="#">产品1</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
								<a href="#">产品2</a>
							</div>
						</div>

					</li>
				</ul>
			</div>
			<!--大图-->
			<div class="goods_ad">
				<a href="#"><img src="images/goods_img1.jpg" width="100%" height="510" /></a>
			</div>
			<p class="clear"></p>
		</div>

		<div class="w_1300">
			<!--本季主打产品-->
			<div class="goods_main">
				<p class="h3">本季主打单品</p>
				<div class="bd">
					<ul>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/goods_img2.jpg" width="235" height="155" />
								<p class="title">银千惠925银饰项链女托帕石锁骨配饰首饰品 </p>
								<p class="gray">七夕情人节礼物送女友</p>
							</a>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="prev prev_sm"></a>
				<a href="javascript:;" class="next next_sm"></a>
			</div>
			<script type="text/javascript">
				jQuery(".goods_main").slide({
					mainCell: ".bd ul",
					effect: "leftLoop",
					autoPage: true,
					vis: 5
				})
			</script>
			<p class="clear"></p>
			<p class="h3">场景购买</p>
			<div class="changjing">
			   <img src="images/goods_img3.jpg" class="ver-mid" alt="我是背景图片"/>
			   <div class="options" data-x="589" data-y="368" data-name="这是商品的名称" data-price="￥3400">
			   	   <a href="#">
			       <img src="images/cj_img1.jpg"/>
			       </a>
			   </div>
			   <div class="options" data-x="460" data-y="264" data-name="这是商品的名称" data-price="￥120">
			   	   <a href="#">
			       <img src="images/cj_img2.jpg"/>
			       </a>
			   </div>
			</div>
			<!--新品-->
			<p class="h3">新品</p>
			<div class="fl" style="width: 880px;">
				<table class="goods_newlist">
					<tr>
						<td colspan="2" rowspan="2" width="438" height="239">
							<a href="#">
							<img src="images/goods_img6.jpg" width="100%" height="239"/>
							<div class="text">
							<p class="ft_18 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218" height="119">
							<a href="#">
							<img src="images/goods_img5.jpg" width="100%" height="119"/>
							<div class="text">
							<p class="ft_16 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218" height="119">
							<a href="#">
							<img src="images/goods_img5.jpg" width="100%" height="119"/>
							<div class="text">
							<p class="ft_16 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
					</tr>
					<tr>
						<td width="218" height="119">
							<a href="#">
							<img src="images/goods_img5.jpg" width="100%" height="119"/>
							<div class="text">
							<p class="ft_16 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218" height="119">
							<a href="#">
							<img src="images/goods_img5.jpg" width="100%" height="119"/>
							<div class="text">
							<p class="ft_16 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
					</tr>
					<tr>
						<td width="218">
							<a href="#">
							<img src="images/goods_img6.jpg" width="100%" height="239"/>
							<div class="text">
							<p class="ft_16 lh_30">8月终极暑促</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218">
							<a href="#">
							<img src="images/goods_img6.jpg" width="100%" height="239"/>
							<div class="text">
							<p class="ft_16 lh_30">8月终极暑促</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218">
							<a href="#">
							<img src="images/goods_img6.jpg" width="100%" height="239"/>
							<div class="text">
							<p class="ft_16 lh_30">8月终极暑促</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
						<td width="218">
							<a href="#">
							<img src="images/goods_img6.jpg" width="100%" height="239"/>
							<div class="text">
							<p class="ft_16 lh_30">8月终极暑促</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="fl" style="width: 420px;margin-left: -1px;">
			    <table class="goods_newlist">
			    	<tr>
			    		<td width="100%">
			    			<a href="#">
							<img src="images/goods_img7.jpg" width="100%" height="159"/>
							<div class="text">
							<p class="ft_18 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
			    		</td>
			    	</tr>
			    	<tr>
			    		<td width="100%">
			    			<a href="#">
							<img src="images/goods_img7.jpg" width="100%" height="159"/>
							<div class="text">
							<p class="ft_18 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
			    		</td>
			    	</tr>
			    	<tr>
			    		<td width="100%">
			    			<a href="#">
							<img src="images/goods_img7.jpg" width="100%" height="159"/>
							<div class="text">
							<p class="ft_18 lh_30">大牌男鞋夏日清仓钜惠</p>
							<p class="txt_red ft_14">低至99元</p>
							</div>
							</a>
			    		</td>
			    	</tr>
			    </table>
			</div>
			<p class="clear"></p>
			
		</div>
		
		<div class="footer">
			    Copyright &copy; 2015 baidu.com All Rights Reserved　版权所有·魅拓线上售卖　蜀ICP备14012994号-1  客服电话：400-123-4567 <br />
邮箱：meituo@163.com 技术支持：成都思乐科技   站长统计
		</div>
	</body>

</html>