<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
		<title></title>
	</head>

	<body class="body_bg">
		<div class="header">
			<div class="header_inner">
				<a href="#" class="header_icon_user fr">个人中心</a>
				<div class="h_search fr">
					<input type="text" class="search_input" placeholder="输入关键字" />
					<a href="#" class="search_btn">&nbsp;</a>
				</div>
				<div class="nav fr">
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="#">产品中心</a></li>
						<li><a href="#">用户看看</a></li>
						<li><a href="#">积分商城</a></li>
						<li><a href="#">服务支持</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
				<a href="#"><img src="images/logo.png" /></a>
			</div>
		</div>
		<!--主体部分-->
		<div class="home_container mar_25_0">
			<table class="mainproduct">
				<tr>
					<td width="335" valign="top" style="text-align: left;">
						<div class="box">
							<div class="main_img">
								<img src="images/box_img.png" width="335" class="ver-mid" />
							</div>
							<div class="control">
								<span class="control_span enlarge">&nbsp;</span>
								<span class="control_span narrow">&nbsp;</span>
								<span class="control_span toleft">&nbsp;</span>
								<span class="control_span toright">&nbsp;</span>
							</div>
						</div>
						<ul class="parts_ul">
							<li>
								<div class="parts_info">
									<img src="images/parts_img1.jpg" width="45" height="45" class="fl" />
									<div class="text">
										<p class="ft_14 ft_b">高纯度漏斗</p>
										<p class="gray">不锈钢</p>
									</div>
								</div>
								<div class="parts_price">
									￥<em class="ft_24">998</em>元
								</div>
								<em class="delete">&nbsp;</em>
							</li>
							<li>
								<div class="parts_info">
									<img src="images/parts_img1.jpg" width="45" height="45" class="fl" />
									<div class="text">
										<p class="ft_14 ft_b">高纯度漏斗</p>
										<p class="gray">不锈钢</p>
									</div>
								</div>
								<div class="parts_price">
									￥<em class="ft_24">998</em>元
								</div>
								<em class="delete">&nbsp;</em>
							</li>
						</ul>
						<div style="padding: 10px 30px;" class="ft_16">
							<a href="#" class="fr"><img src="images/icon_cart.png" width="25" class="ver-mid" /> 购买</a>
							<a href="#"><img src="images/icon_buy.png" width="25" class="ver-mid" /> 收藏</a>
						</div>
					</td>
					<td valign="top" style="text-align: left;">
						<div class="cp_type">
							<ul class="cp_type_h">
								<li class="on">生活用品</li>
								<li>家居用品</li>
								<li>装饰用品</li>
							</ul>
							<div class="cp_type_content">
								<table class="cp_type_table">
									<tr>
										<th width="60">铲子：</th>
										<td>
											<a href="#" class="on">热门</a>
											<a href="#">功能</a>
											<a href="#">风格</a>
										</td>
									</tr>
									<tr>
										<th>铲子：</th>
										<td>
											<a href="#">热门</a>
											<a href="#">功能</a>
											<a href="#">风格</a>
										</td>
									</tr>
									<tr>
										<th>铲子：</th>
										<td>
											<a href="#">热门</a>
											<a href="#">功能</a>
											<a href="#">风格</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="pad_10" style="background: #efefef;">
							<span class="btn_mr">默认</span>&nbsp;&nbsp;
							<span class="px">热门</span>
							<span class="px">价格</span>
							<span class="px">功能</span>
						</div>
						<p class="fr" style="margin-top: -30px;margin-right: 10px;">
						<a href="javascript:;" class="next_sm fr">&nbsp;</a>
						<a href="javascript:;" class="prev_sm fr">&nbsp;</a>
						</p>
						<ul class="cp_list">
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
							<li class="cp_list_li1">
								<div class="pad_20">
								<p class="center"><img src="images/goods_img2.jpg" height="157"/></p>
								<p class="ft_b lh_30 ft_14">这个是产品的标题名称</p>
								<p class="gray">价格：234</p>
								</div>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<!--底部导航栏-->
		<table class="home_menu">
			<tr>
				<td>
					<a href="#">
						<img src="images/home_menu1.png" class="ver-mid" />
						<div class="text">
							<p class="title">创意盒子</p>
							<p class="sub">让生活美好起来</p>
						</div>
					</a>
				</td>
				<td>
					<a href="#">
						<img src="images/home_menu2.png" class="ver-mid" />
						<div class="text">
							<p class="title">主打产品</p>
							<p class="sub">让生活美好起来</p>
						</div>
					</a>
				</td>
				<td>
					<a href="#">
						<img src="images/home_menu3.png" class="ver-mid" />
						<div class="text">
							<p class="title">设计榜单</p>
							<p class="sub">让生活美好起来</p>
						</div>
					</a>
				</td>
				<td>
					<a href="#">
						<img src="images/home_menu2.png" class="ver-mid" />
						<div class="text">
							<p class="title">文化&活动</p>
							<p class="sub">精彩活动等你来参加</p>
						</div>
					</a>
				</td>
			</tr>
		</table>
		<div class="footer">
			Copyright &copy; 2015 baidu.com All Rights Reserved　版权所有·魅拓线上售卖　蜀ICP备14012994号-1 客服电话：400-123-4567
			<br /> 邮箱：meituo@163.com 技术支持：成都思乐科技 站长统计
		</div>
	</body>

</html>