<!DOCTYPE html>
<html>

	<head>
		<meta charset="gb2312" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
        <title>{fzw:database:biaoti /}_{fzw:sql="select u1 from sl_sort where id={fzw:database:classid/}" id="p1"}{fzw:p1:u1 /}{/fzw:sql}_{fzw:key:sitename/}</title>
	</head>

	<body class="body_bg">
        {fzw:inside src="头部.html"/}

		<div class="w_1300 pad_20_0">
			<div class="w_1005 fl white_bg" style="min-height: 686px;">
				<div class="pad_20">
					<div class="wz_header">
						<p class="title">{fzw:database:biaoti /}</p>
						<p class="sub">发布人：{fzw:database:yonghuming /}&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{fzw:database:dtime datetime="yyyy-MM-dd" /}</p>
					</div>
					<div class="neirong">
                        {fzw:database:neirong /}
					</div>
				</div>
			</div>
			<div class="w_280 fr white_bg">
				<ul class="ceping_list pad_20">
        
                    {fzw:for:sql="select  * from sl_sort where sort_id=12 order by paixu asc,id asc" id="p1"}
                    <li>
                        <p class="title">{fzw:p1:u1/}</p>
                        <dl>
                          
                            {fzw:for:sql="select top 6 * from sl_article where classid={fzw:p1:id/} order by paixu asc,id asc" id="p2"}
                            <dd><a href="/page.aspx?id={fzw:p2:id/}&classid={fzw:p2:classid/}">{fzw:p2:biaoti/}</a></dd>
                            {/fzw:for:sql}
                        </dl>
                    </li>
                      {/fzw:for:sql}
                    {fzw:for:sql="select  * from sl_sort where id=28 order by paixu asc,id asc" id="p1"}
           
                    <li>
                        <p class="title">{fzw:p1:u1/}</p>
                        <dl>
                            {fzw:for:sql="select top 6 * from sl_sort where sort_id={fzw:p1:id/} order by paixu asc,id asc" id="p2"}
                            <dd><a href="/list.aspx?id={fzw:p2:id/}&Model_id={fzw:p2:Model_id/}">{fzw:p2:u1/}</a></dd>
                            {/fzw:for:sql}
                        </dl>
                    </li>
                    {/fzw:for:sql}
				</ul>
			</div>
            <div class="w_280 fr white_bg">
                <ul class="ceping_list pad_20">
                    {fzw:sql="select top 4 * from sl_article where  shenhe='已通过' and classid={fzw:database:classid /} order by paixu desc,id desc" id="p1"}
                    <li>
                        <p class="title"><a href="{fzw:pageurl /}">{fzw:p1:biaoti size="32"/}</a></p>
                    </li>
                    {/fzw:sql}
                </ul>
            </div>
		</div>

        {fzw:inside src="底部.html"/}
	</body>

</html>