*{
    padding: 0;
    margin: 0;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
img{
    vertical-align:middle;
}
ol,ul,h1,h2,h3,a{
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
    text-decoration: none;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
body{
    background-color: #ffffff;
}
@media all and (min-width: 768px) {
    body{
        background-color: #dcdcdc;
    }
}
.designerTitle img{
    width: 100%;
    margin-top: -1px;
}
.designerDesc{
    position: absolute;
    visibility: hidden;
    width: 90%;
    margin: 0 auto 20px;
    padding-top: 20px;
    color: #333;
}
@media all and (min-width: 768px) {
    .designerDesc {
        width: 85%;
    }
}
@media all and (min-width:992px ) {
    .designerDesc{
        width: 80%;
        max-width: 1200px;
    }
}
.designerDesc .name{
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 10px;
}
.designerDesc .detail{
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 1.75;
}
@media all and (min-width: 768px) {
    .designerDesc .name{
        font-size: 18px;
    }
    .designerDesc .detail{
        font-size: 16px;
        line-height: 2.0
    }
}
/*作品及作品介绍列表*/
.article{
    margin-top: 5%;
}
.article .list .item{
    width: 95%;
    margin: 0  auto 20px;
    text-align: center;
    background-color: #ffffff;
}
.list h3{
    width: 95%;
    margin: 0 auto 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.item .productList .productItem{
    position: relative;
    margin:10px;
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}
.productList .productItem .opera{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.article .list .item img{
    max-width: 100%;
}
.item .productList img{
    float: left;
    width: 60%;
}
@media all and (min-width: 768px) {
    .list  h3{
        width: 85%;
    }
    .article .list .item{
        width: 85%;
        padding: 20px 0;
        -moz-box-shadow: 0 0 3px #999;
        box-shadow: 0 0 3px #999;
    }
    .item .productList{
        max-width: 1000px;
        margin: 0 auto;
    }
    .item .productList .productItem{
         width: 31%;
         float: left;
        margin: 2% ;
        border-bottom: none;
        padding: 0;
     }
    .item .productList img{
        float: none;
        width: auto;
        max-width: 100%;
    }
}

@media all and (min-width: 992px){
    .article .list .item{
        width: 80%;
        max-width: 1200px;
    }
    .list  h3{
        width: 80%;
        max-width: 1200px;
    }
    .item .productList .productItem{
        width: 24%;
        margin: 0.5% ;
        padding: 1%;
    }
    .item .productList .productItem:hover{
        -moz-box-shadow: 0 0 2px #dcdcdc inset;
        box-shadow: 0 0 2px #dcdcdc inset;
    }
}

    .item  .productItem .name, #kucun{
        font-size: 14px;
        color: #444444;
        line-height: 1.75;
    }
    #kucun{
        font-size: 12px;
    }
    .item  .productItem .name{
         margin-top: 10px;
         color: #000000;
     }
.item .opera .price{
    float: right;
    color: #ff4400;
    margin-right:10px ;
}
.item .opera .sale{
    float: right;
    background-color: #ff4400;
    height: 25px;
    width: 80px;
    text-align: center;
    line-height: 25px;
    color: #ffffff;
}
    @media all and ( min-width:768px) {
        .item  .productItem .name{
            font-size: 16px;
        }
        .item .productItem .opera{
            position: static;

              text-align: center;
          }
        .item .opera .price{
             display: inline-block;
             *display: inline;
             zoom: 1;
             margin-right: 2%;
             color: #ff4400;
            float: none;
             }
        .item  .opera .sale{
            display: inline-block;
            *display: inline;
            zoom: 1;
            background-color: #ff4400;
            height: 25px;
            line-height: 25px;
            padding: 0 20px;
            color: #ffffff;
            float: none;
            width: auto;
        }
    }


.article .list .item .detail{
    text-align: left;
    line-height: 1.75;
    font-size: 14px;
    color: #333333;
}
@media all and (min-width: 768px) {
    .article .list .item .detail{
        margin:  0 20px;
    }
}
.article .detail img{
    max-width: 100%;
}
@media all and (min-width: 768px) {
    .article .list .item .detail{
        font-size: 16px;
    }
}
/*产品参数*/
.parameter{
    background-color: #dcdcdc;
    padding: 5px;
    font-size: 14px;
    margin: 20px 0;
}
.parameter .paratitle{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.parameter .fangshi{
    text-align: left;
    font-size: 12px;
}
.parameter .paraList,.parameter .shuju{
    text-align: left;
}
.paraList .paraItem{
    display: block;
}
@media all and (min-width: 768px) {
    .parameter .fangshi{
        text-align: center;
    }
    .parameter .paraList,.parameter .shuju{
        text-align: center;
    }
    .paraList .paraItem{
        width: auto;
    }
    .paraList .paraItem{
         display: inline-block;
         *display: inline;
         zoom: 1;
         margin: 0 0.5%;
     }
    .parameter .fangshi{
       font-size: 14px;
    }
}
/*页脚*/
.footer{
    height: 390px;
    width: 100%;
    background-color: #333;
    margin-top: 30px;
    padding-top: 30px;
}
.footer .exLink{
    width: 304px;
    margin: 0 auto;
}
.footer .exLink li{
    position: relative;
    float: left;
    margin:0  5px;
}
@media all and (min-width: 360px){
    .footer .exLink{
        width: 344px;
    }
    .footer .exLink li{
        margin: 0 10px;
    }
}
.footer .exLink a{
    display: inline-block;
    width: 66px;
    height: 66px;
    background: url(../img/exLink.png) no-repeat;
}
.footer .exLink .code{
    position: absolute;
    left: -8000px;
    top:-220px;
    height: 226px;
    width: 200px;
    background: url(../img/weixin_erweima.png) no-repeat;
    background-size: 100%;
    display: inline-block;
}
.footer .exLink li.weixin:hover .code{
    left: -80px;
}
.footer .exLink .link3{
    background-position: -198px 0;
}
.footer .exLink .link2{
    background-position: -132px 0;
}
.footer .exLink .link1{
    background-position: -66px 0;
}
.footer .exLink .link0{
    background-position: 0 0;
}
.footer .help{
    width: 100%;
    text-align: center;
}
.footer .help .exHelp{
    margin: 20px 5px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
}
.footer .help .exHelp ul{
    margin-top: 8px;
}
.footer .help .exHelp ul  a{
    color: #fff;
    font-size: 13px;
}
.footer p{
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
    padding-bottom: 30px;
    background-color: #333;
}
@media all and (min-width:768px) {
    .footer .help{
        width:600px;
        margin: 0 auto;

    }
    .footer .help .exHelp{
        margin: 30px 20px;
        float: left;
    }
    .footer p{
        padding: 0;
    }
}
.footer p span{
    vertical-align: 3px;font-weight: bold;
}