*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	font-family: arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
img{
	vertical-align:middle;
}
ol,ul,h1,h2,h3,a{
	list-style: none;
	text-decoration: none;
	font-weight: normal;
    outline: none;
}
a:focus{
    outline: none;
}
a:hover{
	text-decoration: none;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	overflow: hidden;
	height: 0;
}
header nav{
	position: relative;
	height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #272727;
}
header nav .myNav{
	width: 95%;
	margin: 0 auto;
	height: 100%;
}
.myNav .logo{
	float: left;
}
.myNav .logo img{
	height: 50px;
}
.myNav .outer{
	display: none;
	list-style: none;
}
.myNav .outerList .inter li{
	margin-top: 10px;
	width: 130px;
}
.myNav .outerList .inter li a{
	display: block;
	color: #333;
	font-size: 13px;
	text-align: center;
}
.myNav .outerList .inter strong span{
	border-right: 1px solid #333;
	padding-right: 3px;
	margin-right: 3px;
}
.myNav .userOp{
	float: right;
}
.myNav .userOp li{
	display: inline;
	line-height: 50px;
	
}
.myNav .userOp li a{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	padding-left: 18px;
}
.myNav .userOp .denglu a{
	background: url(../img/denglu.png) 0 17px no-repeat;
	background-size: 16px;
	margin-right: 10px;
}
.myNav .userOp .zhuce a{
	background: url(../img/zhuce.png) 0 17px no-repeat;
	background-size: 16px;
}
@media all and (min-width:768px){
	header nav{
	height: 64px;
	}
	header nav .myNav{
		width: 85%;
		max-width: 1250px;
		height: 100%;
	}
	header nav .myNav{
		text-align: center;
	}
	.myNav .logo{
		display: block;
	}
	.myNav .logo img{
		height: 64px;
	}
	.myNav .outerList .inter li{
	margin-top: 20px;
	width: 150px;
	height: 115px;
	border-right: 1px solid #333;
}
.myNav .outerList .inter li a .menu{
	display: inline-block;
	height: 100px;
    background: url(../img/menu2.png) no-repeat;
}
.myNav .outerList .inter li a .chp1{
	width: 57px;
	background-position: 0 0;
}
.myNav .outerList .inter li a .chp1:hover{
	background-position: -627px 0;
}
.myNav .outerList .inter li a .chp2{
    width: 53px;
    background-position: -57px 0;
}
.myNav .outerList .inter li a .chp2:hover{
    background-position: -685px 0;
}
.myNav .outerList .inter li a .chp3{
	width: 29px;
    background-position: -110px;
}
.myNav .outerList .inter li a .chp3:hover{
	background-position: -740px 0;
}
.myNav .outerList .inter li a .chp4{
	width: 100px;
    background-position: -139px 0;
}
.myNav .outerList .inter li a .chp4:hover{
	background-position: -767px 0;
}
.myNav .outerList .inter li a .fw1{
	width: 100px;
    background-position: -239px 0;
}
.myNav .outerList .inter li a .fw1:hover{
	background-position: -869px 0;
}
.myNav .outerList .inter li a .fw2{
	width: 100px;
    background-position: -339px 0;
}
.myNav .outerList .inter li a .fw2:hover{
    background-position: -971px 1px;
}
.myNav .outerList .inter li a .fw3{
	width: 85px;
    background-position: -439px 0;
}
.myNav .outerList .inter li a .fw3:hover{
    background-position: -1072px 1px;
}
.myNav .outerList .inter li a .fw4{
    width: 103px;
    background-position: -527px 0;
}
.myNav .outerList .inter li a .fw4:hover{
    background-position: -1157px -1px;
}
.myNav .outerList .inter strong{
	display:block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: -20px;
}
    .myNav .outer li{
        display: inline-block;
        width: 49%;
    }
    .myNav .outer{
        display: inline-block;
        width: 50%;
    }

	.myNav .outerList{
	height: 64px;
	line-height: 64px;
	}
	.myNav .outerList a{
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 0 15px;
		font-size: 16px;
	}
	.myNav .userOp li{
	display: inline;
	line-height: 64px;
	
	}
	.myNav .outerList .inter{
	position: absolute;
	left: 0;
	height: 0;
	overflow: hidden;
	top: 60px;
	right: 0;
	background-color:#fff;
	z-index: 2;
}
    .myNav #outerList1 .link{
        position: relative;
        text-align: right;
    }
    .myNav #outerList2 .link{
        position: relative;
        text-align: left;
    }
	.myNav #outerList1 .link span{
	display: block;
	height: 0;
	width: 2em;
	position: absolute;
    bottom: 7px;
    right: 15px;
	background-color: #fff;

}
    .myNav #outerList2 .link span{
        display: block;
        height: 0;
        width: 2em;
        position: absolute;
        bottom: 7px;
        left: 15px;
        background-color: #fff;

    }

.myNav #outerList1:hover .link span{
	height: 1px;
}
.myNav #outerList2:hover .link span{
    height: 1px;
}
	.myNav .userOp li a{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	padding-left: 20px;
	}
	.myNav .userOp .denglu a{
	background: url(../img/denglu.png) 0 22px no-repeat;
	background-size: 20px;
	margin-right: 10px;
}
.myNav .userOp .zhuce a{
	background: url(../img/zhuce.png) 0 22px no-repeat;
	background-size: 20px;
	}
}
/*//轮播*/
.warp{
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	top: 0px;
}
.warp .list{
	position: relative;
	width: 100%;
}
.warp .list li{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	list-style: none;
	opacity: 1;
}
.warp .list li.one{
    position: relative;
    cursor: pointer;
}
.warp .list li img{
     opacity: 0;
     width: 100%;
 }
.warp .list li.one img{
    margin-top: -2px;
    opacity: 1;
}

div.pre,div.next,div.pre .preIcon,div.next .nextIcon{
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}
div.pre{
    left: 0px;
    width: 50px;
}
div.next{
    right: 0px;
    width: 50px;
}

.pre .preIcon,.next .nextIcon{
      z-index: 11;
      width: 42px;
      background: url(../img/bannerIcon.png)no-repeat;
  }
.pre .preIcon{
       background-position: -42px 0;
   }
.next .nextIcon{
    background-position: 0 0;
}
.pre .preIcon:hover{
    background-position: -126px 0;
}
.next .nextIcon:hover{
    background-position: -84px 0;
}


@media all and (min-width: 768px) {
    div.pre{
        width: 100px;
    }
    div.next{
        width: 100px;
    }
}
div.pre:hover{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
div.next:hover{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
div.next p,div.pre p{
    position: absolute;
    height: 32px;
    width: 32px;
    line-height: 32px;
    top:50%;
    margin-top: -16px;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
@media all and (min-width: 768px){
    div.next p,div.pre p{
        height: 64px;
        width: 64px;
        text-align: center;
        line-height: 64px;
        top:50%;
        margin-top: -32px;
        font-size: 30px;
    }
}
.controll{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 10;
}
.controll ul{
	text-align: center;
}
#controll li span.curIndex{
    background: url(../img/controllIcon.png) 0 0 no-repeat;
}
.controll li span{
	display: inline-block;
	padding:0;
	margin: 0;
	width: 8px;
	height: 8px;
	border-radius: 4px;
    /*background: url(../img/controllIcon.png) -18px 0 no-repeat;*/
    background-color: #fff;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	cursor: pointer;
}
.controll li{
	display: inline-block;
	margin-right: 5px;
}
.controll li span:hover{
	background-color: #fefefe;
}
@media all and (min-width:768px){
	.controll li span{
	padding:0;
	margin: 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
	}
}
/*轮播结束*/
/*头部结束*/
.descList,.descTitle{
    position: absolute;
    left: -9990px;
}
.active{
    width: 100%;
    padding: 2% 0;
    background-color: #dcdcdc;
}
.activeBar{
	width: 100%;
	margin:0 auto ;
}
.activeBar h1{
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.activeBar h2{
    font-size: 14px;
    color: #333333;
    line-height: 2;
    text-align: center;
}
.activeBar p{
    font-size: 14px;
    color: #333333;
    line-height: 1.75;
    text-align: center;
}
@media all and (min-width: 768px){
	.activeBar{
		width: 640px;
	}
    .activeBar h1{
        font-size: 18px;
    }
    .activeBar h2{
        font-size: 16px;
    }
    .activeBar p{
        font-size: 14px;
    }
}
@media all and (min-width: 992px){
	.activeBar{
		width: 100%;
	}
    .activeBar h1{
        font-size: 22px;
    }
    .activeBar h2{
        font-size: 18px;
    }
    .activeBar p{
        font-size: 16px;
    }
}
@media all and (min-width: 1420px){
	.activeBar{
		width: 80%;
	}
}

.activeBar .activeItem{
	width: 50%;
	float: left;
	padding: 0 5px;
	margin-top: 10px;
}
.activeBar .activeItem a{
    position: relative;
	display: block;
	text-align: center;
}
.activeBar .moreActiveItem{
	display: block;
}
.activeBar .otherActive{
	display: none;
}
.activeBar .activeItem img{
	max-width: 100%;
}
.active .activeBar .mask{
    position: absolute ;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    visibility: hidden;
}
.active .activeBar .text{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    text-align: center;
    margin: auto;

    visibility: hidden;
}
.activeBar .text .h1{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.activeBar .text .h2{
    font-size: 14px;
    color: #ffffff;
}
.active .activeBar a:hover .text,.active .activeBar a:hover .mask{
    visibility: visible;
}
@media all and (min-width: 768px){
	.activeBar .activeItem{
		padding: 0 10px;
	}
}
@media all and (min-width: 992px){
	.activeBar .activeItem{
		width: 20%;
		margin-top: 20px;
	}
	.activeBar .moreActiveItem{
		display: none;
	}
	.activeBar .otherActive{
		display: block;
	}
}

.smallScreen{
	position: relative;
	display: block;
	height: 30px;
	overflow: hidden;
	margin: 20px 5px 0; 
}

.smallScreen .smallList .list{
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.smallScreen .smallList .smallScInfo{
	cursor: pointer;
	height: 30px;
	display: block;
	line-height: 30px;
}
.smallScreen .smallList .list a{
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
.smallScreen .smallList .list a strong{
	font-weight: normal;
	border-right: 1px solid #828181;
	margin-right: 5px;
	padding-right: 5px;
}
.smallScreen .smallList .list div{
	height: 0;
}
.smallScreen .smallList .list div.bar{
	position: absolute;
	top: 25px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #333;
}

.smallScreen .smallList .list ul{
	width: 200%;
	text-align: left;
}
.smallScreen .smallList .chpList ul{
	margin-left: 0;
}
.smallScreen .smallList .fwList ul{
	margin-left: -100%;
}
.smallScreen .smallList .list .chpItem,
.smallScreen .smallList .list .fwItem{
	width: 50%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
.smallScreen .smallList .list .hide{
	margin-left: -9000px;
}
.smallScreen .smallList .list span .icon{
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url(../img/xiala.png) no-repeat;
	margin-left: 3px;
	vertical-align: middle;
}
.smallScreen .smallList .list .cur .icon{
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url(../img/shangla.png) no-repeat;
	margin-left: 3px;
	vertical-align: middle;
}
@media all and (min-width: 768px){
	 .smallScreen{
		display: none;
	}
}
.cup{
	border-top:1px solid #999;
	margin: 30px 5px 0 5px;
}
.cup .title{
	width: 50%;
	margin: 0 auto;
	margin-top: -9px;
	background-color: #fff;
	font-size: 16px;
	text-align: center;
	color: #000;
}
.cup .title strong{
	font-weight: normal;
}
@media all and (min-width: 768px){
	.cup{
	margin: 60px 10px 0 10px;
	}
	.cup .title{
		width: 20%;
	}
}
@media all and (min-width: 992px){
	.cup .title{
		font-size: 18px;
		width: 20%;
	}
}
.cup .title strong{
	padding-right: 3px;
	margin-right: 3px;
}
.cup .showPic{
	margin-top: 20px;
}
.cup .showPic img{
	width: 100%;
}
.cup .goods{
	width: 100%;
    background-color: #e4e4e4;
	margin: 30px auto 0;
}
.cup .goods .info,.cup .goods .english,.plate .goods .info,.plate .goods .english{
	display: none;
}
.cup .goods .cupList{
	display: none;
}
.cup .goods .cupListSmall{
	display: block;
	margin-top: 10px;
}
.cup .goods .cupListSmall a{
	display: block;
}
.cup .goods .cupListSmall .smallItem{
	height: 120px;
	border-bottom: 1px solid #999;
	padding: 10px 0;
}
.cup .goods .cupListSmall .listItem{
	border-bottom: none;
}
.cup .goods .cupListSmall .smallCupShow{
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 10px;
	background: url(../img/smallCupList.jpg) no-repeat;
}
.cup .goods .cupListSmall .smallCupDesc .name{
	font-size: 13px;
	color: #000;
}
.cup .goods .cupListSmall .smallCupDesc .desc{
	font-size: 12px;
	color: #666;
	margin: 5px 0;
}
.cup .goods .cupListSmall .smallCupDesc .price{
	font-size: 12px;
	color: #F92D0B;
}
.cup .goods .cupListSmall .cupShowOne{
	background-position: 0 0;
}
.cup .goods .cupListSmall .cupShowTwo{
	background-position: -80px 0;
}
.cup .goods .cupListSmall .cupShowThree{
	background-position: -160px 0;
}
.cup .goods .cupItem{
	width: 45%;
	float: left;
	text-align: center;
	padding:0 5% 10px;
	margin-left: 5%;
	margin-top: 10px;
}

@media all and (min-width: 769px){
	.cup .goods{
	width: 90%;
	max-width: 1200px;
	margin-top: 40px;
    padding: 20px 0;
    background-color: #e4e4e4;
	}
}
@media all and (min-width: 768px){
    .cup .goods .english,.plate .goods .english{
        display: block;
        text-align: center;
        font-size: 12px;
        color: #ff4400;
    }
    .cup .goods .info,.plate .goods .info{
        display: block;
        font-size: 18px;
        word-spacing: 5px;
        line-height: 2.0;
        color: #ff4400;
        font-weight: bold;
        text-align: center;
    }
	.cup .goods .cupListSmall{
		display: none;
	}
	.cup .goods .cupList{
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
	}
	.cup .goods .cupItem{
	width: 31%;
	margin: 0;
	padding:0 5% 10px;
	text-align: center;
	margin: 10px 0 2% 0;
	}
    .cup .goods .cupItem a{
        display: block;
    }
	.cup .goods .cupItem img{
        max-width: 100%;
	}

}
@media all and (min-width: 992px){
	.cup .goods .info,.plate .goods .info{
		font-size: 20px;
	}
}

	
@media all and (min-width: 992px){
	.cup .goods .cupItem img{
		max-width: 100%;
		max-height: none;
	}
    .cup .goods .cupItem a{
        padding: 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .cup .goods .cupItem a:hover{
        padding: 0;
    }
}
.cup .goods .cupItem .goodsName{
	display: block;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	margin: 10px auto 5px;
}
.cup .goods .cupItem .price{
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto 5px;
	font-size: 15px;
	color: #F92D0B;
}
.cup .goods .cupItem .sale{
	visibility: hidden;
}
.cup .goods .cupItem .price .oldPrice{
	color: #333;
	text-decoration: line-through;
}
@media all and (min-width: 768px){
	.cup .goods .cupItem .price:before{
		content: " ";
		display: block;
		width: 80%;
		height: 1px;
		background-color: #999;
		margin: 0 auto;
	}
	.cup .goods .cupItem .price{
	width: 100%;
	margin: 0 auto 8px;
	}
}
@media all and (min-width: 992px){
	.cup .goods .cupItem .price:before{
		width: 60%;
	}
	.cup .goods .cupItem{
	width: 33.333%;
	box-shadow: none;
	margin: 0;
	padding-bottom: 0;
	}
	.cup .goods .cupItem:hover .sale{
		font-size: 16px;
		color: #ffffff;
		border: none;
		background-color: #ff4400;
		padding: 5px 10px;
		visibility: visible;
	}
}
.company{
    display: none;
}
.company{
	position: relative;
	margin: 30px 5px ;
	background-color: #333;
}
.company img{
	width: 100%;
}
.company .content{
	position: absolute;
    top:auto;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
    opacity: 0;
}
.company .mask{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0,0,0);
	opacity: 0.5;
	z-index: 3;
}
.company .title{
	padding-top: 10px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.company .title strong{
	border-right: 1px solid #fff;
	margin-right: 3px;
	padding-right: 5px;
	font-weight: normal;
}
@media all and (min-width: 992px){
	.company .title{
	font-size: 18px;
	padding-top: 30px;
	}
}

@media all and (min-width: 768px){
	.company{
        display: block;
	    margin: 60px 10px ;
	}
	.company .tecnlog{
	margin: 10px auto 0;
	/*width: 700px;*/
    width: 540px;
	text-align: center;
	}
    .company .tecnlog a{
        display: block;
    }

}
@media all and (min-width: 992px){
	.company .tecnlog{
        width: 66%;
		margin: 30px auto 0;
	}
}
.company .tecnlog .tecnItem{
    /*display: inline-block;*/
	float: left;
	/*margin-right: 50px;*/
    width: 16.3%;
    min-width: 90px;
}
.company .tecnlog .tecnItem .img{
	display: block;
	width: 69px;
	height: 69px;
    /*margin-bottom: 5px;*/
    margin: 0 auto 5px;
	background: url(../img/companyIcon.png) no-repeat;
}
.company .tecnlog .tecnItem .title{
	font-size: 14px;
}
.company .tecnlog .tecnItem .img1{
	background-position: 0 0;
}
.company .tecnlog .tecnItem .img1:hover{
    background-position: -414px 0;
}
.company .tecnlog .tecnItem .img2{
	background-position:  -69px 0;
}
.company .tecnlog .tecnItem .img2:hover{
    background-position:  -483px 0;
}
.company .tecnlog .tecnItem .img3{
	background-position: -138px 0;
}
.company .tecnlog .tecnItem .img3:hover{
    background-position: -552px 0;
}
.company .tecnlog .tecnItem .img4{
	background-position: -207px 0;
}
.company .tecnlog .tecnItem .img4:hover{
    background-position: -621px 0;
}
.company .tecnlog .tecnItem .img5{
	background-position: -276px 0;
}
.company .tecnlog .tecnItem .img5:hover{
    background-position: -690px 0;
}
.company .tecnlog .tecnItem .img6{
	background-position: -345px 0;
}
.company .tecnlog .tecnItem .img6:hover{
    background-position: -759px 0;
}
.plate{
	border-top:1px solid #999;
	margin: 30px 5px 0 5px;
}
.plate .title{
	width: 50%;
	margin: 0 auto;
	margin-top: -9px;
	background-color: #fff;
	font-size: 16px;
	text-align: center;
	color: #000;
}
@media all and (min-width: 768px){
	.plate{
	margin: 60px 10px 0 10px;
	}
	.plate .title{
		font-size: 16px;
		width: 20%;
	}
}
@media all and (min-width: 992px){
	.plate .title{
		font-size: 18px;
		width: 20%;
	}
}
.plate .title strong{
	padding-right: 3px;
	margin-right: 3px;
	font-weight: normal;
}
.plate .showPic{
    position: relative;
	margin-top: 20px;
}
.plate .showPic .bg{
	width: 100%;
}
.plate .showPic .plateMask,.plate .showPic .plateText{
    position: absolute;
    bottom: -200px;
    height: 80%;
    left: 0;
    right: 0;
    opacity: 0;
    margin: auto;
}
.plate .goods{
	text-align: center;
	width: 100%;
	margin: 30px auto 0;
}
@media all and (min-width: 769px){
	.plate .goods{
	width: 90%;
	max-width: 1200px;
	margin-top: 40px;
    padding: 20px 0 0;
        background-color: #e4e4e4;
}
}
.plate .goods .more{
	display: none;
}
.plate .goods .plateList{
	margin: 20px 0;
}
.plate .goods .plateList .plateImg{
      max-width: 100%;
  }
@media all and (min-width: 768px){
	.plate .goods .more img{
	width: 80px;
	float: right;
	}
	.plate .goods .plateList{
	margin: 20px 0 40px;
	}

}
@media all and (min-width: 992px){
	.plate .goods .more img{
	width: 130px;
	float: right;
	}
}
.plate .goods .moreList{
	display: none;
	border: #ccc 1px solid;
	font-size: 14px;
	color: #222;
	padding:  8px 15%;
	background-color: #fff;
}
.plate .goods .plateItem .price:before{
		content: " ";
		display: block;
		width: 70%;
		height: 1px;
		background-color: #999;
		margin: 0 auto;
	}
@media all and (min-width: 768px){
	.plate .goods .plateItem .sale{
		font-size: 16px;
	}
	.plate .goods .moreList{
		display: none;
	}
	.plate .goods .plateItem .price:before{
		width: 50%;
	}
	.plate .goods .plateItem .price{
	width: 100%;
	margin: 0 auto 3px;
	}
	
	
}
@media all and (min-width: 992px){
	.plate .goods .plateItem .price:before{
		width: 70%;
	}
}
.customer{
	text-align: center;
	margin: 30px 0px 0;
}
.customer .discuss{
	margin-bottom: 15px;
}
@media all and (min-width: 768px){
	.customer{
		margin: 60px 5px 0;
	}
}
.customer .discuss .Item{
	position: relative;
	width:50%;
    height: 120px;
    overflow: hidden;
	float: left;
	padding: 5px;
	margin-bottom: 10px;
	display: block;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
.customer .discuss .Item a{
	display: block;
	width: 100%;
}
.customer .discuss .Item a img{
	max-width: 100%;
}
@media all and (min-width:768px){
	.customer .discuss .Item{
	    width:33.3333%;
        height: 140px;
	}
	.customer .discuss li.lastItem{
	display: none;
	}
}
@media all and (min-width:992px){
	.customer .discuss .Item{
	    width:25%;
        height: 200px;
	}
	.customer .discuss li.lastItem{
	display: block;
}
}
.customer .discuss .Item .word{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	color: #303030;
	padding-top: 20%;
	opacity: 0;
}
.customer .discuss .Item:hover .word{
	visibility: visible;
}
.customer .discuss .Item .word p{
	width: 60%;
	height: 60px;
	font-size: 12px;
	margin: 10px auto ;
	letter-spacing: 3px;
	word-break:break-all;
	line-height: 1.6;
}
.customer .discuss .Item .word .name{
	color: #F67C7C;
	font-size: 14px;
	line-height: 1.75px;
}
.customer .discuss .Item .word .time{
	font-size: 12px;
}
@media all and (min-width: 768px){
	.customer .discuss .Item .word p,
	.customer .discuss .Item .word .time{
		font-size: 14px;
	}
}
.customer .moreList{
	border: #ccc 1px solid;
	font-size: 14px;
	color: #222;
	padding:  10px 15%;
	background-color: #fff;
}
.customer .moreList:hover{
	box-shadow: 1px 0px 1px #333;
}
