*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    font-family: arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
img{
    vertical-align:middle;
}
ol,ul,h1,h2,h3,a{
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
    text-decoration: none;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
.activeImg img{
	width: 100%;
	margin-top: -1px;
}
/*活动展示图片结束*/
.activeDesc{
	width: 100%;
	background-color: #906B6B;
	padding: 1.5% 0;
}
.activeDesc h1{
	text-align: center;
	font-size: 16px;
    color: #EBE8E8;
	line-height: 2.0;
}
.activeDesc p{
	text-indent: 2em;
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	color: #EBE8E8;
	line-height: 1.7;
}
@media screen and (min-width: 768px) {
	.activeDesc p{
		font-size: 16px;
	}
	.activeDesc h1{
	font-size: 18px;
	}
}
@media screen and (min-width: 992px) {
	.activeDesc p{
		width: 80%;
		max-width: 1200px;
		font-size: 18px;
	}
	.activeDesc h1{
	font-size: 20px;
	}
}
/*活动介绍结束*/
/*切换*/
.change{
	width: 100%;
	height: 400px;
	margin: 20px auto 30px;
}
.change .warp{
	position: relative;
	height: 100%;
	background: #333;
}
.change .warp .arrow,.change .warp .arrow{
	display: none;
}
.change .warp .goTokankan{
    display: none;
}
@media screen and (min-width: 768px){
	.change{
		width: 90%;
		height: 480px;
		margin: 2% auto 2%;
	}
	.change .warp .arrow,.change .warp .arrow{
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 17px;
		height: 30px;
		margin: auto 0;
		background: url(../img/arrows.png) no-repeat;
	}
	.change .warp .arrow-right{
		background-position:  0 -30px;
		right: 10px;
	}
	.change .warp .arrow-left{
		background-position:  0 0;
		left: 10px;
	}
	.change .warp{
		background: #333;
		border: 4px solid #fff;
		box-shadow: 0 0 5px #000;
		border-radius: 20px;
		padding: 30px 40px;
	}
}
.change .warp .swiper-container{
		background: #fff url(../img/2016052415513045.png) no-repeat center center;
		height: 100%;
	}
@media screen and (min-width: 992px){
	.change{
		width: 65%;
		max-width:1100px; 
		height: 520px;
	}
	.change .warp{
		padding: 3% 4%;
	}
    .change .warp .goTokankan{
        display: block;
        position: absolute;
        right: 4%;
        z-index: 30;
    }
}
.change .warp .list,.change .warp .list .item{
	position: relative;
}
.change .warp .list .item img{
	position: absolute;
	top:50%;
	left:50%;
}
.change .warp .item .head{
	text-align: center;
	font-size: 14px;
}
.change .warp .item .head span{
	margin: 0 1px;
}
@media all and (min-width: 768px){
	.change .warp .item .head{
	font-size: 16px;
	margin-top: 5px;
	}
}
.change .customerSure{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
}
.change .customerSure .sale{
	color: #fff;
	font-size: 14px;
	line-height: 2.0;
	padding: 0.5% 1%;
	border-radius: 3px;
	background-color: #d10a0a;
    cursor:pointer;
}
.change .customerSure .price{
	color: #D10A0A;
	font-size: 14px;
	font-weight: bold;
	margin-right: 1%;
}
.change .info{
	font-size: 14px;
	text-align: center;
	color: #000;
}
.change .info span{
	margin: 0 1px;
}
@media screen and (min-width: 768px){
	.change .info{
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		color: #fff;
		font-size: 16px;
	}
	.change .info span{
		line-height: 1.7;
	}
}
@media screen and (min-width: 768px){
	.change .customerSure .sale{
		font-size: 16px;
	}
	.change .customerSure .price{
		font-size: 16px;
	}
}
@media screen and (min-width: 992px){
	.change .customerSure .sale{
		font-size: 18px;
	}
	.change .customerSure .price{
		font-size: 18px;
	}
}
/*详情*/
.goodsDesc{
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
}
.goodsDesc .title{
	color: #222;
	font-size: 16px;
	line-height: 2.0;
}
@media all and (min-width: 768px){
	.goodsDesc .title{
	font-size: 18px;
	}
}
.goodsDesc .desc{
	margin: 0 auto;
	margin-bottom: 2%;
	width: 90%;
	color: #555;
	font-size: 15px;
	line-height: 1.6;
	text-align: left;
}
@media all and (min-width: 768px){
	.goodsDesc .desc{
		font-size: 16px;
	}
}
@media all and (min-width: 992px){
	.goodsDesc .desc{
		width: 80%;
		max-width: 1100px;
	}
}
.goodsDesc ul{
	margin: 0 auto;
	width: 90%;
}
.goodsDesc .content p img{
	max-width: 100%;
}
@media all and (min-width: 992px){
	.goodsDesc ul{
		width: 80%;
		max-width: 1100px;
	}
}
.goodsDesc .isFold{
	max-height: 300px;
	overflow: hidden;
}
.goodsDesc .isSpread{
	max-height: none;
}

.goodsDesc .All{
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	-webkit-transition: all 0.2s;
	 -o-transition: all 0.2s;
	 transition: all 0.2s; 
}
.goodsDesc .All .mask{
	margin: 0 auto;
	margin-top: -15px;
	height: 15px;
	background-color: #fff;
	opacity: 0.2;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-webkit-transition: opacity 0.2s;
	 -o-transition: opacity 0.2s;
	 transition: opacity 0.2s; 
	
}
.goodsDesc .All:hover{
	box-shadow:none;
}
.goodsDesc .All:hover .mask{
	opacity: 0;
}
.goodsDesc .All .more{
	cursor: pointer;
	display: block;
	font-size: 16px;
	color: #777;
	height: 30px;
	line-height: 30px;
	-webkit-transition: all 0.2s;
	 -o-transition: all 0.2s;
	 transition: all 0.2s; 
}
/*.goodsDesc .All .more:hover{
	color: red;
}*/
@media all and (min-width:992px){
	.goodsDesc .All{
		width: 80%;
		max-width: 1100px;
	}
}
.goodsDesc .All span{
    cursor: pointer;
    display: block;
    font-size: 16px;
    color: #777;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.goodsDesc .All .fold .foldBg{
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: url('../img/spread.png');
}
.goodsDesc .All .spread{
    display: none;
}
.goodsDesc .All .spread .spreadBg{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("../img/fold.png") no-repeat;
}

/*往期回顾*/
.oldActive .bar{
	visibility: hidden;
}
@media screen and (min-width: 992px){
	.oldActive .bar{
		visibility: visible;
		width: 85%;
		min-width: 1100px;
		margin: 0 auto;
		height: 10px;
		background: red;
	}
}
.oldActive .title{
	font-size: 16px;
	text-align: center;
	line-height: 2.0;
}
@media screen and (min-width: 768px){
	.oldActive .title{
		font-size: 18px;
	}
}
@media screen and (min-width: 992px){
	.oldActive .title{
		width: 20%;
		font-size: 20px;
		margin: 0 auto;
		background-color: #fff;
		margin-top: -25px;
	}
}
.oldActive ul{
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 768px){
	.oldActive ul{
		width: 90%;
		max-width: 1200px;
	}
}
.oldActive ul .oldActiveItem{
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-top: 10px;
}
@media screen and (min-width: 768px){
	.oldActive ul .oldActiveItem{
		width: 33.3333%;
		padding: 0 5px;
	}
}
@media screen and (min-width: 992px){
	.oldActive ul .oldActiveItem{
		width: 20%;
		padding: 0 5px;
	}
}
.oldActive ul .oldActiveItem a{
	display: block;
	text-align: center;
}
.oldActive ul .oldActiveItem img{
		max-width: 100%;
	}

span#head{
    position: absolute;
    margin-left: -9999px;
}
.tiShi{
    display: none;

}
@media all and (min-width: 992px) {
    .tiShi{
        display: block;
        position: fixed;
        right: 2px;
        bottom: 15%;
        width: 40px;
    }
    .toTop{
        display: block;
        width: 40px;
        height: 40px;
        background: url(../images/totop.png) no-repeat;
    }
    .KF{
        display: block;
        width: 40px;
        height: 49px;
        margin-top: 10px;
        background: url(../img/KF.png) no-repeat;
    }
    .KF:hover{
        background: url(../img/KFactive.png) no-repeat;
    }
}
/*页脚*/
.footer{
    height: 390px;
    width: 100%;
    background-color: #333;
    margin-top: 30px;
    padding-top: 30px;
}
.footer .exLink{
    width: 304px;
    margin: 0 auto;
}
.footer .exLink li{
    position: relative;
    float: left;
    margin:0  5px;
}
@media all and (min-width: 360px){
    .footer .exLink{
        width: 344px;
    }
    .footer .exLink li{
        margin: 0 10px;
    }
}
.footer .exLink a{
    display: inline-block;
    width: 66px;
    height: 66px;
    background: url(../img/exLink.png) no-repeat;
}
.footer .exLink .code{
    position: absolute;
    left: -9000px;
    top:-220px;
    height:226px;
    width: 200px;
    background: url(../img/weixin_erweima.png) no-repeat;
    background-size: 100%;
    display: inline-block;

}
.footer .exLink li.weixin:hover .code{
    left: -80px;
}
.footer .exLink .link3{
    background-position: -198px 0;
}
.footer .exLink .link2{
    background-position: -132px 0;
}
.footer .exLink .link1{
    background-position: -66px 0;
}
.footer .exLink .link0{
    background-position: 0 0;
}
.footer .help{
    width: 100%;
    text-align: center;
}
.footer .help .exHelp{
    margin: 20px 5px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
}
.footer .help .exHelp ul{
    margin-top: 8px;
}
.footer .help .exHelp ul  a{
    color: #fff;
    font-size: 13px;
}
.footer p{
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
    padding-bottom: 30px;
    background-color: #333;
}
@media all and (min-width:768px) {
    .footer .help{
        width:600px;
        margin: 0 auto;

    }
    .footer .help .exHelp{
        margin: 30px 20px;
        float: left;
    }
    .footer p{
        padding: 0;
    }
}
.footer p span{
    vertical-align: 3px;font-weight: bold;
}

.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

