.clearFloat:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}
.body_bg .w_1300{
    position: relative;
    width: 100%;
}
@media all and (min-width: 992px) {
    .body_bg .w_1300{
        width: 90%;
    }
}
.w_1300 .leftConn{
    width: 100%;
    float: left;
}
.w_1300 .leftConn .w_1005{
    margin-right: 295px;
    width: auto;
    float: none;
}
.w_1300 .leftConn .big_img .bigimg_prev{
    left: 10px;
}
.w_1300 .leftConn .big_img .bigimg_next{
    right: 10px;
}
.w_1300 .leftConn .cp_content{
    width: 100%;
}
.w_1300 .leftConn img{
    max-width: 100%;
    vertical-align : bottom
}
.w_1300 .leftConn .ceping_list p{
    text-indent: 2em;
}
.big_img,.qindan{
    text-align: center;
}
.w_1300 .w_280{
    margin-left: -280px;
    position: fixed;
    top:84px;
    right: 5%;
}
.w_1300 .w_280 .yintu{
    margin-top: 15px;
    line-height: 40px;
    height: 40px;
    background-color: #ff3a41;
    font-size: 18px;
    letter-spacing: 2px;
}
.w_1300 .w_280 .yintu a{
    color: #fff;
}
.w_1005 .right .myBtn{
    margin-right: 10px;
}
.w_280 .mar_t_10{
    margin-top: 0;
}
.w_280 .cp_caozuo tr{
    line-height: 50px;
    height: 50px;
}
.w_280 .cp_caozuo tr td{
    border: none;
}
.w_280 .cp_caozuo .conn1 a,
.w_280 .cp_caozuo .conn2 a{
    display: block;
    height: 70px;
    width: 138px;
    line-height: 70px;
    /*color: #fff;*/
    color: #C40000;
    font-size: 18px;
    background-color: #FFEDED;
    /*background-color: #000;*/

}
.w_280 .cp_caozuo .conn1 a{
    margin-right:2px;
}
.w_280 .cp_caozuo .conn2 a{
    margin-left: 2px;
    margin-right: 0;
}
.w_280 .XG{
    padding: 0 10px;
}
.w_280 .XG .item{
    padding: 10px 0 0;
}

