<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>专题页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
</head>
<body>
<div id="zero" class="container-fluid" style="background-color: #000000; padding: 0 0;">
    <!--<DIV style="MARGIN: 0px auto; WIDTH: 100%; DISPLAY: block" id=js_ads_banner_top>-->
        <!--<A href="/" target=_blank><IMG src="images/banner_s.png"></A>-->
    <!--</DIV>-->

    <DIV style="MARGIN: 0px auto; WIDTH: 100%; DISPLAY: none" id=js_ads_banner_top_slide>
        <div id="guanbi" onclick="guanbi()"><button class="btn-lg btn-warning"> 关闭窗口</button></div>
        <A href="/" target=_blank><IMG src="images/banner_b.png" class="img-responsive"></A>
    </DIV>
</div>
<div id="one" class="container-fluid">
    <div id="nav" class="row">
        <a href="#feature-tab" data-tab="five">
        <div id="jijian" class="col-md-4">
            <img id="xiao9b" src="images/xiao9b.png">
            <img id="xiao9" src="images/xiao9.png">
            <p class="lead">-极简-</p>
        </div>
        </a>
        <a href="#feature-tab1" data-tab="eight">
        <div id="titie" class="col-md-4">
            <img id="nasib" src="images/nasib.png">
            <img id="nasi" src="images/nasi.png">
            <p class="lead">-体贴-</p>
        </div>
        </a>
            <a href="#feature-tab2" data-tab="nine">
        <div id="yundong" class="col-md-4">
            <img id="chunseb" src="images/chunseb.png">
            <img id="chunse" src="images/chunse.png">
            <p class="lead">-运动-</p>
        </div>
            </a>
    </div>
        <div class="row" style="background-color: rgba(215,211,200,1)">
            <h2 style="padding-left: 5%; font-family: hello;">魅拓&杯子</h2>
            <p class="lead" style="padding-left: 5%; padding-right: 5%; font-family: hello;">
                一款杯子能提出的问题，比魅拓想象的还要多，我们总是在不断的去思考这样各种各样的问题。“杯口阶梯设计使得水的倒流现象几乎消失”——纳斯；“65mm直径是手握感的最佳峰值”——小9；“最重要的当然是在办公室最少走动，获得充足饮水量”——大肚子；“放车上，挂背包上，揣兜里，装包里，不论在那里，带着我”——纯色
            </p>
            <p class="lead" style="padding-left: 5%; padding-right: 5%; font-family: hello;">
                这是目前魅拓的抛砖引玉，下一刻，设计师杯子设计即将开启，从选杯子到买设计，让我们陪您在杯子这件小事上，一起美好的个性起来。
            </p>
        </div>
</div>
<div id="two" class="container-fluid">
    <h1 id="twopl">什么才是：杯子。</h1>
    <img id="beizi2" src="images/beizi2.png">
</div>
<div id="three" class="container-fluid">
    <div id="onec" class="yuan"></div>
    <div id="twoc" class="yuan"></div>
    <div id="threec" class="yuan"></div>
    <div id="fourc" class="yuan"></div>
    <div id="zhanshi" class="text-center">
        <div class="pull-left">
        <img src="images/guangze.png">
        <p>光泽</p></div>
        <div class="pull-right" style="margin-left: 20px;">
        <img src="images/lasi.png">
        <p>原版</p></div>
    </div>
    <div id="fonts">
        <p>杯子    </p>
        <p style="font-size: 20px;">杯子该是什么样子？没有把手，包容一切温度和种类的饮品，作为容器的本分之内，却又能照顾到每一处的细节之上。这就是魅拓的杯子，不一样，也本该这样。
        </p>
        <p>印图开放    </p>
        <p style="font-size: 20px;">专业设计师各有所好，消费者亦有所需，通过不断的聚集专业的图案设计师，通过消费者在创意盒子自定义位置，由激光深度刻印在杯身，金属与设计从未如此频繁接触。
        </p>
        <p>表面处理    </p>
        <p style="font-size: 20px;">镜面处理，我们拒绝电镀工艺，手工打磨带来的天生色泽，是被光选择的天生荣耀，因此本色并非无色，而是包纳所有色彩。
        </p>
        <p>18/8</p>
        <p style="font-size: 20px;">18/8不锈钢金属材质，不止用于饮用纯净水，甚至能胜任弱酸弱碱。咖啡、tea or 可口可乐都可以放心盛放，当然，橙汁儿也很健康。这是杯子的本分
        </p>
    </div>
</div>
<div id="four" class="container-fluid">
    <img src="images/dhs.png">
    <div>
        <p class="title">容纳流动，喝水宜多</p>
        <p class="lead" style="color: #ffffff">魅拓杯子，就是和其他杯子不一样
        </p>
    </div>
</div>
<div id="five" class="container-fluid" style=" padding-top: 6%;">
    <div id="feature-tab">
    <a href="#five" role="tab" data-toggle="tab"></a>
    </div>
  <div class="row">
      <div class="col-md-4" style="text-align: center;">
          <div>
             <p class="title" style="font-size: 30px;">小9</p>
          <img id="jiujiu" src="images/99.png" class="img-responsive none"/>
              <p class="lead" style="margin-top: 20px;"><a class="btn-lg btn-warning" href="http://www.xiaoyu4.com/page.aspx?id=24&classid=1">前往购买></a></p>
          </div>
      </div>
      <div class="col-md-4" style="text-align: center;">
          <p class="title" style="font-size: 28px;">杯子该有的样子</p>
          <p class="lead">70mm到55mm的缓降</p>
          <p class="lead">带来的是杯身下半部分60mm左右的完美握感          </p>
          <p class="lead">通过抛光抑或镜面处理          </p>
          <p class="lead">光滑表面的触感再一次被升级          </p>
          <p class="lead">双层设计让过冷和过热与饮用需求相关          </p>
          <p class="lead">却与手无关          </p>
          <p class="lead">获得极简系列产品          </p>
          <p class="lead">你就会知道这些采用100%内外层8/18不锈钢水杯          </p>
          <p class="lead">才是杯子该有的样子          </p>
      </div>
      <div class="col-md-4" style="text-align: center;">
          <p class="lead"><a class="btn-lg btn-warning" href="http://www.xiaoyu4.com/page.aspx?id=25&classid=1">前往购买></a></p>
          <img id="dudu" src="images/daduzi.png" class="img-responsive none"/>
          <p class="title" style="margin-top: 20px; font-size: 30px;">大肚子</p>
      </div>
  </div>
</div>
<div id="six" class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="padding: 0 0;">
            <div style="margin-top: 20%;">
            <img src="images/snbz.png" class="img-responsive">
            </div>
        </div>
        <div class="col-md-6 title" style="text-align: center; color: #000000; font-size: 32px;">
            <p>双层防热防冻，彻底和把手说再见</p>
            <p>最好的便捷装置，就是没有装置</p>
            <p>捧起大肚子，整整500ml满足水依赖症状</p>
        </div>
        <div class="col-md-3">
            <img src="images/sc.png" class="img-responsive righter"/>
            <img src="images/dadugao.png" class="img-responsive righter" style="margin-left: 23%">
        </div>
    </div>
</div>
<div id="seven" class="container-fluid">
    <div id="biaopan">
    </div>
    <div id="mscPlr">
    </div>
    <div id="mscPl">
    </div>
    <div id="wenzi">
        <p style="font-size: 50px; font-family: '微软雅黑'; color: #000000;">纳&nbsp;斯&nbsp;，&nbsp;不&nbsp;保&nbsp;温</p>
        <p style="font-size: 50px; font-family: '微软雅黑'; color: #000000;">但&nbsp;其&nbsp;实&nbsp;刚&nbsp;刚&nbsp;好</p>
    </div>
    <div id="beizi"></div>
    <div id="gaizi"></div>
    <div id="yanwu">
        <img id="yanwu1" src="images/sqi.png" class="none">
    </div>
</div>
<div id="eight" class="container-fluid" style="padding: 0 0;">
    <div id="feature-tab1">
        <a href="#eight" role="tab" data-toggle="tab"></a>
    </div>
    <div class="row">
        <div class="pull-right">
            <img src="images/pduibi.png">
        </div>
    </div>
    <div class="row text-center title" style="color: #000000; font-size: 30px;">
        <div>
            <p>杯口阶梯设计，防止倒流，并让水在阶梯处完成</p>
            <p>收口，减小流出宽度，提供更加优雅的喝水方式</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 col-lg-6">
            <img src="images/caizhi1.png" class="img-responsive center-block" alt="请点击图片前往购买">
            <p class="title" style="color: #000000; font-size: 24px;">纳斯光泽</p>
            <p><a href="http://www.xiaoyu4.com/page.aspx?id=23&classid=1" class="btn-lg btn-warning">前往购买</a></p>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="images/caizhi3.png" class="img-responsive center-block" alt="请点击图片前往购买">
            <p class="title" style="color: #000000; font-size: 24px;">纳斯原版</p>
            <p><a href="http://www.xiaoyu4.com/page.aspx?id=23&classid=1" class="btn-lg btn-warning">前往购买</a></p>
        </div>
    </div>
</div>
<div id="nine" class="container-fluid">
    <div id="feature-tab2">
        <a href="#nine" role="tab" data-toggle="tab"></a>
    </div>
</div>
<div id="ten" class="container-fluid">

</div>
<div id="shiyi" class="container-fluid">
    <div class="row" style="margin-top: 40px;">
       <div class="col-md-4 col-lg-4">
           <img id="bwp" src="images/bwp.png">
       </div>
        <div class="col-md-8 col-lg-8" style="padding-top: 70px;">
            <div>
                <p class="lead" style="line-height: 1.8; font-family: '微软雅黑'; color: #ffffff">
                    运动：你在路上，不只是陪你。<br>
                    让一杯冰水在炎日保持冷静，让一杯热水在冬日存续温暖。<br>
                    周末为孩子装上热乎乎的蜂蜜水，快乐了一个下午，开盖喂一口热乎乎的蜂蜜；从成都行驶到昆明的700多公里，在到终点后有温度的茶水是最好的庆祝；一杯有冰有水的可乐，一场运动下来，依然有水，有冰。<br>
                    它或许就在公园的长椅上伴在你身边，为你呵护一杯咖啡的热度。是的，纯色运动水杯，不仅仅是被你带着上路，我们呵护住您需要的温度，经久耐用，提供一个纯粹的杯子。<br/>
                    <a class="btn-lg btn-info" href="http://www.xiaoyu4.com/page.aspx?id=26&classid=1">前往购买</a>
                </p>
            </div>
            <img id="bwpg" src="images/bwpg.png">
        </div>
    </div>
</div>
<div id="shier" class="container-fluid">
    <div id="qjf">
        <img class="none" id="qjfdc" src="images/qjf.png" style="width: 100%">
    </div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/content.js"></script>
</body>
</html>