.contentBox .h1{
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cccccc;
}
.contentBox .optionList{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}
.contentBox .optionList li{
    position: relative;
    width: 100px;
    float: left;
    border-bottom: 2px solid #ffffff;
    text-align: center;
}
.contentBox .optionList li.active{
    border-bottom: 2px solid #000000;
}
.contentBox .optionList li a{
    font-size: 14px;
}
.contentBox .productList{
    margin: 10px 0;
}
.contentBox .productList .item{
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    position: relative;
}
.contentBox .productList .item+.item{
    margin-top: 10px;
}
.productList .item .productPic{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.productList .item .productPic img{
    width: 100%;
    height: 100%;
}
.productList .item .desc{
    margin-top: 10px;
}
.productList .item .desc .name{
    margin-bottom: 8px;
}
.productList .item .desc .fail{
    color: #ff6666;
}
.productList .item .desc .name a{
    margin-right: 8px;
}
.productList .item .handle{
    float: right;
}
.productList .item .handle a{
    margin: 0 5px;
}
.productList .item .handle a:hover{
    color: #ff6666;
}