
.contentBox .articleList{
    margin-top: 10px;
    font-size: 14px;
}
.contentBox .articleList .item{
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    color: #333333;
    position: relative;
}
.contentBox .articleList .item+.item{
    margin-top: 10px;
}
.articleList .item .title{
    margin-bottom: 5px;
}
.articleList .item .title:hover a{
    color: #ff6666;
}
.articleList .item .time,
.articleList .item .popularity,
.articleList .item .discuss{
    cursor: pointer;
    font-size: 13px;
    color: #666666;
}
.articleList .item .popularity,.articleList .item .discuss{
    display: inline-block;
    padding-left: 16px;
    margin: 0 7px;
    background: url(../img/article.png) no-repeat;
}
.articleList .item .popularity{
    background-position: 0 -34px;
}
.articleList .item .discuss{
    background-position: 0 -67px;
}
.articleList .item .popularity:hover,.articleList .item .discuss:hover{
    color: #333;
}
.articleList .item .handle{
    margin-top: -15px;
    float: right;
}
.articleList .item .handle a{
    margin: 0 7px;
}