ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333333;
    outline: none;
}
a:focus{
    outline: none;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.isDelete{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../img/delete.png) 0px 0 no-repeat;
}
.isDelete:hover{
    background: url(../img/delete.png) -19px 0 no-repeat;
}
header{
    height: 60px;
    background-color: #000;
}
.container{
    width: 1050px;
    padding-top: 40px;
    margin: 0 auto;
}
.container .contentBox{
    width: 830px;
    float: right;
    font-family: arial, helvetica, sans-serif;
}
