.contentBox .h1{
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cccccc;
}
.contentBox .jifenList{
    margin: 20px 0;
}
.contentBox .jifenList .item{
    border: 1px solid #ebebeb;
    padding: 20px;
    font-size: 13px;
    color: #333333;
    position: relative;
}
.contentBox .jifenList .item+.item{
    margin-top: 10px;
}
.jifenList .item div{
    float: left;
}
.jifenList .item .number{
    margin: 0 100px;
    color: #ff6666;
}
.contentBox .remain{
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    color: #333333;
}
.contentBox .remain span{
    font-size: 16px;
    color: #ff6666;
    font-weight: bold;
}
