ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333333;
    outline: none;
}
a:focus{
    outline: none;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.isDelete{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../img/delete.png) 0 0 no-repeat;
}
.isDelete:hover{
    background: url(../img/delete.png) -19px 0 no-repeat;
}
.isEdit{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/edit&look.png) 0 0 no-repeat;
}
.isEdit:hover{
    background: url(../img/edit&look.png) -20px 0 no-repeat;
}
.isLook{
    display: inline-block;
    width: 29px;
    height: 20px;
    background: url(../img/edit&look.png) -40px 0 no-repeat;
}
.isLook:hover{
    background: url(../img/edit&look.png) -69px 0 no-repeat;
}
header{
    height: 60px;
    background-color: #333;
}
footer{
    height: 300px;
    background: #333;
}
.container{
    width: 1050px;
    padding: 40px 0;
    margin: 0 auto;
}
.container .contentBox{
    width: 830px;
    float: right;
    font-family: arial, helvetica, sans-serif;
}
.contentBox .h1{
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cccccc;
}
.contentBox .optionList{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}
.contentBox .optionList li{
    position: relative;
    width: 100px;
    float: left;
    border-bottom: 2px solid #ffffff;
    text-align: center;
}
.contentBox .optionList li.active{
    border-bottom: 2px solid #000000;
}
.contentBox .optionList li a{
    font-size: 14px;
}
