/*左侧*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.userSlide{
    width: 150px;
    height: 600px;
    padding-top: 12px;
    float: left;
    /*background-color: #e4e4e4;*/
}
.userSlide .userPic{
    width: 126px;
    height: 126px;
    margin: 0 auto 12px;
    cursor: pointer;
    background: #ffffff;
}
.userSlide .userPic img{
    border: none;
}
.userSlide .option{
    /*margin-bottom: 2px;*/
    background-color: #ffffff;
    list-style: none;
}
.userSlide .option+.option{
    border-top: 2px solid #e4e4e4;
}
.userSlide .option li{
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.userSlide .option .cur{
    background: url(../img/cur.png) no-repeat 20% center;
}
.userSlide .option li a{
    display: block;
    height: 100%;
    height: 40px;
    font-size: 14px;
    color: #333333;
    font-family: arial, helvetica, sans-serif;
}
.userSlide .option li a:hover{
    font-size: 15px;
}
.userSlide .option .cur a:hover{
    font-size: 14px;
}
/*.userSlide .option li+li:before{*/
    /*content: "";*/
    /*top:0;*/
    /*left: 10px;*/
    /*position: absolute;*/
    /*height: 1px;*/
    /*width: 180px;*/
    /*margin: 0 auto;*/
    /*background-color: #eeeeee;*/
/*}*/
/*共用*/
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333333;
    outline: none;
}
a:focus{
    outline: none;
}
.clearFix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.isDelete{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../img/delete.png) 0 0 no-repeat;
}
.isDelete:hover{
    background: url(../img/delete.png) -19px 0 no-repeat;
}
.isEdit{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/edit&look.png) 0 0 no-repeat;
}
.isEdit:hover{
    background: url(../img/edit&look.png) -20px 0 no-repeat;
}
.isLook{
    display: inline-block;
    width: 29px;
    height: 20px;
    background: url(../img/edit&look.png) -40px 0 no-repeat;
}
.isLook:hover{
    background: url(../img/edit&look.png) -69px 0 no-repeat;
}
.indexLink{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.indexLink:hover{
    text-decoration: underline;
}
.container{
    width: 1050px;
    padding: 40px 0;
    margin: 0 auto;
}
.container .contentBox{
    width: 830px;
    float: right;
    font-family: arial, helvetica, sans-serif;
    min-height: 100%;
}
.container .contentBox .contentBoxMain{
    min-height: 600px;
}
.contentBox .h1{
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cccccc;
}
.contentBox .optionList{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}
.contentBox .optionList li{
    position: relative;
    width: 100px;
    float: left;
    border-bottom: 2px solid #ffffff;
    text-align: center;
}
.contentBox .optionList li.active{
    border-bottom: 2px solid #000000;
}
.contentBox .optionList li a{
    font-size: 14px;
}
.contentBox .form{
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
}
.contentBox .form div{
    height: 35px;
    line-height: 35px;
}
.contentBox .form div .info{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.contentBox .form label input{
    height:27px;
    width: 200px;
    padding-left: 10px;
    border: 1px #999 solid;
}
.contentBox .form label input:focus{
    box-shadow: 0 0 3px #888;
}
.contentBox .form .btn button{
    width: 80px;
    height: 30px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
}
.contentBox .form .btn button:hover{
    background-color: #ff6666;
}
.contentBox .form .f ,.contentBox .form .m ,.contentBox .form .secret{
    margin: 0 5px;
}
.page{padding:20px 0;text-align:center;font-size:0;clear:both;}
.page a,.page strong{color:#666;font-size:12px;padding:4px 8px;border:1px solid #dedede;margin:0 3px;}
.page a.on,.page a:hover,.page strong.on{color:#fff;background:#ad030d;}
/*购物车*/
.contentBox .cartList{
    margin: 20px 0 30px;
}
.contentBox .cartList .item{
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    font-size: 13px;
    color: #333333;
}
.contentBox .cartList .item+.item{
    margin-top: 10px;
}
.cartList .item .goodsPic{
    float: left;
    width: 350px;
    position: relative;
}
.cartList .item .goodsPic img{
    width: 80px;
    height: 80px;
}
.cartList .item .goodsPic p{
    position: absolute;
    top: 0;
    left: 90px;
    margin-top: 10px;
}
.cartList .item .subtotal{
    float: left;
    margin-top: 10px;

}
.cartList .item .subtotal span{
    color: #ff6666;
    font-weight: bold;
    margin-left: 5px;
}
.cartList .item .num_div{
    position: relative;
    float: left;
    width: 104px;
    height: 28px;
    margin-left: 60px;
    margin-top: 10px;
    background: url(../img/num.jpg) center center no-repeat;
}
.cartList .item .num_div span{
    position: absolute;
    left: -35px;
}
.cartList .item .num_div input{
    width: 48px;
    height: 100%;
    margin-left: 28px;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;

}
.cartList .item .num_div .sub,.cartList .item .num_div .add{
    position: absolute;
    width: 28px;
    height: 100%;
    top: 0;
}
.cartList .item .num_div .add{
    right: 0;
}
.cartList .item .num_div .sub{
    left: 0;
}
.cartList .item .handle{
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}
.cartList .item .handle a{
    color: #666666;
    margin: 0 5px;
}
.contentBox .settlement{
    text-align: right;
    font-size: 14px;
    color: #333333;
}
.contentBox .settlement span{
    font-size: 16px;
    font-weight: bold;
    color: #ff6666;
}
.contentBox .settlement a{
    font-size: 16px;
    color: #ffffff;
    background: #999999;
    padding: 12px 40px;
    margin-left: 10px;

}
.contentBox .settlement a:hover{
    background: #ff6666;
}
/*文章*/
.contentBox .articleList{
    margin-top: 30px;
    font-size: 14px;
}
.contentBox .articleList .item{
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    color: #333333;
    position: relative;
}
.contentBox .articleList .item+.item{
    margin-top: 10px;
}
.articleList .item .title{
    margin-bottom: 5px;
}
.articleList .item .title:hover a{
    color: #ff6666;
}
.articleList .item .time,
.articleList .item .popularity,
.articleList .item .discuss{
    cursor: pointer;
    font-size: 13px;
    color: #666666;
}
.articleList .item .popularity,.articleList .item .discuss{
    display: inline-block;
    padding-left: 16px;
    margin: 0 7px;
    background: url(../img/article.png) no-repeat;
}
.articleList .item .popularity{
    background-position: 0 -34px;
}
.articleList .item .discuss{
    background-position: 0 -67px;
}
.articleList .item .popularity:hover,.articleList .item .discuss:hover{
    color: #333;
}
.articleList .item .handle{
    margin-top: -15px;
    float: right;
}
.articleList .item .handle a{
    margin: 0 7px;
}
/*对账*/
.container .contentBox .billList{
    margin: 20px 0;
    color: #333333;
    font-size: 13px;
}
.container .contentBox .billList .item{
    border: 1px solid #ebebeb;
}
.container .contentBox .billList .item+.item{
    margin-top: 10px;
}
.contentBox .billList .item .itemHead{
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    padding-left: 20px;
}
.contentBox .billList .item .itemHead .time{
    padding-left: 20px;
}
.contentBox .billList .item .itemBody{
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
}
.contentBox .billList .item .itemBody .left{
    float: left;
    width: 620px;
    border-right: 1px solid #ebebeb;
}
.contentBox .billList .item .itemBody .left .money{
    margin-left: 100px;
}
.contentBox .billList .item .itemBody .right{
    float: left;
    width: 150px;
    text-align: center;
}
/*设计师首页*/
.container .contentBox .baseMessage{
    margin-bottom: 20px;
}
.container .contentBox .title{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75;
    color: #666666;
}
.baseMessage .messageList li{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #333333;
}
.baseMessage .messageList li p{
    float: left;
    width: 60px;
}
.baseMessage  .link{
    height: 35px;
    line-height: 35px;
}
.baseMessage .link a{
    font-size: 14px;
    color: #333333;
    border: 1px solid #ebebeb;
    padding: 5px 10px;
}
.baseMessage .link a:hover{
    border: 1px solid #999999;
}
.container .contentBox .bill{
    padding-top: 20px;
    position: relative;
    color: #333333;
    font-size: 14px;
}
.container .contentBox .bill:before{
    content: "";
    position: absolute;
    width: 810px;
    height: 1px;
    top: 0;
    left: 10px;
    background-color: #ebebeb;
}
.container .contentBox .bill .item{
    border: 1px solid #ebebeb;
}
.container .contentBox .bill .item+.item{
    margin-top: 10px;
}
.contentBox .bill .item .itemHead{
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    padding-left: 20px;
}
.contentBox .bill .item .itemHead .time{
    padding-left: 20px;
}
.contentBox .bill .item .itemBody{
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
}
.contentBox .bill .item .itemBody .left{
    float: left;
    width: 620px;
    border-right: 1px solid #ebebeb;
}
.contentBox .bill .item .itemBody .left .money{
    margin-left: 100px;
}
.contentBox .bill .item .itemBody .right{
    float: left;
    width: 150px;
    text-align: center;
}
/*设计师产品*/
.contentBox .productList{
    margin: 30px 0 10px;
}
.contentBox .productList .item{
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    position: relative;
}
.contentBox .productList .item+.item{
    margin-top: 10px;
}
.productList .item .productPic{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.productList .item .productPic img{
    width: 100%;
    height: 100%;
}
.productList .item .desc{
    margin-top: 10px;
}
.productList .item .desc .name{
    margin-bottom: 8px;
}
.productList .item .desc .fail{
    color: #ff6666;
}
.productList .item .desc .name a{
    margin-right: 8px;
}
.productList .item .handle{
    float: right;
}
.productList .item .handle a{
    margin: 0 5px;
}
.productList .item .handle a:hover{
    color: #ff6666;
}
/*普通用户首页*/
.container .contentBox .baseMessage{
    margin-bottom: 20px;
}
.container .contentBox .title{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75;
    color: #666666;
}
.baseMessage .messageList li{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #333333;
}
.baseMessage .messageList li p{
    float: left;
    width: 60px;
}
.baseMessage  .link{
    height: 35px;
    line-height: 35px;
}
.baseMessage .link a{
    font-size: 14px;
    color: #333333;
    border: 1px solid #ebebeb;
    padding: 5px 10px;
}
.baseMessage .link a:hover{
    border: 1px solid #999999;
}
.container .contentBox .lastOrder{
    position: relative;
    padding-top: 10px;
}
.container .contentBox .lastOrder:before{
    position: absolute;
    top:0;
    left: 10px;
    content: "";
    width: 810px;
    height: 1px;
    background-color: #ebebeb;
}
.contentBox .lastOrder .orderList{
    margin-top: 10px;
    font-size: 14px;
}
.contentBox .lastOrder .item{
    border: 1px solid #ebebeb;
}
.contentBox .lastOrder .item .itemHead{
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    padding: 0 20px;
    color: #333333;
}
.contentBox .lastOrder .item .itemHead .time{
    margin-left: 20px;
}
.contentBox .lastOrder .item .itemHead .isDelete{
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
.lastOrder .item .itemBody .itemGoodsList{
    width: 620px;
    float: left;
    padding: 10px 0;
    padding-left: 20px;
    border-right: 1px solid #ebebeb;
}
.lastOrder .item .itemBody .itemGoodsList li{
    padding: 10px 0;
    position: relative;
    color: #333333;
}
.lastOrder .item+li{
    margin-top: 10px;
}
.lastOrder .item .itemBody .itemGoodsList li+li:before{
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top:0;
    background-color: #ebebeb;
    position: absolute;
}
.lastOrder .item .itemBody .goodsPic{
    position: relative;
    width: 350px;
    float: left;
}
.lastOrder .item .itemBody .goodsPic img{
    width: 80px;
    height: 80px;
}
.lastOrder .item .itemBody .goodsPic p{
    position: absolute;
    left: 90px;
    top: 0;
}
.lastOrder .item .itemBody .itemRight{
    float: left;
    width: 150px;
    padding-top: 20px;
    padding-left: 50px;
    color: #333333;
}
.lastOrder .item .itemBody .itemRight div{
    height: 30px;
}
/*积分*/
.contentBox .jifenList{
    margin: 20px 0;
}
.contentBox .jifenList .item{
    border: 1px solid #ebebeb;
    padding: 20px;
    font-size: 13px;
    color: #333333;
    position: relative;
}
.contentBox .jifenList .item+.item{
    margin-top: 10px;
}
.jifenList .item div{
    float: left;
}
.jifenList .item .number{
    margin: 0 100px;
    color: #ff6666;
}
.contentBox .remain{
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    color: #333333;
}
.contentBox .remain span{
    font-size: 16px;
    color: #ff6666;
    font-weight: bold;
}
/*订单列表*/
.contentBox .orderList{
    margin-top: 30px;
    font-size: 14px;
}
.contentBox .orderList .item{
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contentBox .orderList .item:hover{
    -webkit-box-shadow:  0 0 2px #ff6666;
    -moz-box-shadow:  0 0 2px #ff6666;
    box-shadow:  0 0 2px #ff6666;
    border: 1px solid transparent;
}
.contentBox  .orderList .item .itemHead{
    height: 40px;
    line-height: 40px;
    /*background-color: #f2f2f2;*/
    border-bottom: #f2f2f2 1px solid;
    padding: 0 20px;
    font-size: 18px;
    color: #000000;
}
.contentBox  .orderList .item .itemHead a{
    color: #000000;
}
.contentBox  .orderList .item .bg{
    height: 15px;
    background-color: #ff6666;
    border-radius: 10px 10px 0 0;
}
.contentBox .orderList .item .itemHead .time{
    margin-left: 20px;
}
.contentBox .orderList .item .itemHead .isDelete{
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
.orderList .item .itemBody .itemGoodsList{
    width: 620px;
    float: left;
    padding: 10px 0;
    padding-left: 20px;
    border-right: 1px solid #ebebeb;
}
.orderList .item .itemBody .itemGoodsList li{
    padding: 10px 0;
    position: relative;
    color: #333333;
}
/*.orderList .item+.item{*/
    /*margin-top: 10px;*/
/*}*/
.orderList .contentControl{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin-bottom: 20px;*/
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.orderList .contentControl span{
    display: inline-block;
    height: 10px;
    width: 13px;
    background:url(./../img/orderoff.jpg) no-repeat 0 0 ;
}
.orderList .item .itemBody .itemGoodsList li+li:before{
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top:0;
    background-color: #ebebeb;
    position: absolute;
}
.orderList .item .itemBody .goodsPic{
    position: relative;
    width: 350px;
    float: left;
}
.orderList .item .itemBody .goodsPic img{
    width: 80px;
    height: 80px;
}
.orderList .item .itemBody .goodsPic p{
    position: absolute;
    left: 90px;
    top: 0;
}
.orderList .item .itemBody .itemRight{
    float: left;
    width: 150px;
    padding-top: 20px;
    padding-left: 50px;
    color: #333333;
}
.orderList .item .itemBody .itemRight div{
    height: 30px;
}
.contentOff{
    overflow: hidden;
    height: 110px;
}
.contentOn{
    height: auto;
}
/*站内信*/
.contentBox .smsList{
    margin: 20px 0;
}
.contentBox .smsList .item{
    border: 1px solid #ebebeb;
    padding:  20px;
    font-size: 13px;
    color: #333333;
    position: relative;
}
.contentBox .smsList .item+.item{
    margin-top: 10px;
}
.contentBox .smsList .item .title{
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}
.contentBox .smsList .item .title a:hover{
    color: #ff6666;
}
.smsList .item .title .status{
    margin-right: 10px;
    color: #ff6666;
}
.smsList .item .title .markRead{
    color: #999999;
}
.smsList .item .bottom{
    position: relative;
}
.smsList .item .bottom .isDelete{
    position: absolute;
    right: 0;
}
/*优惠券*/
.contentBox .yhqList{
    margin: 20px 0;
}
.contentBox .yhqList .item{
    border: 1px solid #ebebeb;
    padding: 20px 20px;
    font-size: 13px;
    color: #333333;
    position: relative;
}
.contentBox .yhqList .item+.item{
    margin-top: 10px;
}
.contentBox .yhqList .item div{
    float: left;
    width: auto;
}
.contentBox .yhqList .item .price,.contentBox .yhqList .item .time{
    margin-left: 100px;
}
.contentBox .yhqList .item .status{
    position: absolute;
    float: none;
    top: 0;
    right: 0;
    height: 25px;
    line-height: 25px;
    width: 80px;
    background-color: #ff6666;
    text-align: center;
    color: #ffffff;

}