<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>专题页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
</head>
<body style="font: 14px/1.5 'Helvetica Neue','Helvetica','Arial','Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei','sans-serif'
;">
<div id="zero" class="container-fluid" style="padding: 0 0;">
    <!--<DIV style="MARGIN: 0px auto; WIDTH: 100%; DISPLAY: block" id=js_ads_banner_top>-->
    <!--<A href="/" target=_blank><IMG src="images/banner_s.png"></A>-->
    <!--</DIV>-->

    <DIV style="MARGIN: 0px auto; WIDTH: 100%; DISPLAY: none" id=js_ads_banner_top_slide>
        <A href="/" target=_blank><IMG src="images/banner_b.jpg" class="img-responsive"></A>
    </DIV>
</div>
<div style="width: 100px; position: fixed; right: 5%; bottom: 10%; z-index: 999;">
    <ol id="ol" style="list-style: none;">
        <li id="j1"><a href="#one"><span style="font-size: 12px; width: 80px; display: inline; opacity: 0">魅拓杯子</span><img id="j11" src="images/dian.png"><img id="j12" src="images/quan.png" class="none"></a></li>
        <li id="j2"><a href="#six"><span style="font-size: 12px; width: 80px; display: inline; opacity: 0">极简系列</span><img id="j21" src="images/dian.png"><img id="j22" src="images/quan.png" class="none"></a></li>
        <li id="j3"><a href="#nine"><span style="font-size: 12px; width: 80px; display: inline; opacity: 0">体贴系列</span><img id="j31" src="images/dian.png"><img id="j32" src="images/quan.png" class="none"></a></li>
        <li id="j4"><a href="#shiyi"><span style="font-size: 12px; width: 80px; display: inline; opacity: 0">运动系列</span><img id="j41" src="images/dian.png"><img id="j42" src="images/quan.png" class="none"></a></li>
        <li id="j5"><a href="#shier"><span style="font-size: 12px; width: 80px; display: inline; opacity: 0">创意盒子</span><img id="j51" src="images/dian.png"><img id="j52" src="images/quan.png" class="none"></a></li>
    </ol>
</div>
<div id="one" class="container-fluid" style="padding: 0 0; width: 98%; background-color: rgba(224,224,224,1);">
    <div id="nav" class="row">
        <a href="http://www.xiaoyu4.com/search.aspx?m=product&fenlei=218" data-tab="five">
            <div id="jijian" class="col-md-4">
                <img id="xiao9b" src="images/xiao9b.png">
                <img id="xiao9" src="images/xiao9.png">
                <p class="lead">-极简-</p>
            </div>
        </a>
        <a href="http://www.xiaoyu4.com/search.aspx?m=product&fenlei=217" data-tab="eight">
            <div id="titie" class="col-md-4">
                <img id="nasib" src="images/nasib.png">
                <img id="nasi" src="images/nasi.png">
                <p class="lead">-体贴-</p>
            </div>
        </a>
        <a href="http://www.xiaoyu4.com/search.aspx?m=product&fenlei=216" data-tab="nine">
            <div id="yundong" class="col-md-4">
                <img id="chunseb" src="images/chunseb.png">
                <img id="chunse" src="images/chunse.png">
                <p class="lead">-运动-</p>
            </div>
        </a>
    </div>
    <div class="row">
        <div style="margin-left: 5%;margin-right: 5%;">
        <h2 class="titlefont">魅拓&杯子</h2>
        <p class="contentfont" style="font-size: 18px;">
           杯子的思考&nbsp;|&nbsp;开山之作&nbsp;|&nbsp;个性化购买
        </p>
        <p class="contentfont">
            一款杯子能提出的问题，比魅拓想象的还要多，而正是这些问题驱使着我们不断思考和改进，因此在试运营阶段，我们提供了几个解决办法
        </p>
        <p class="contentfont">“65mm直径是手握感的最佳峰值”——极简系列口杯小9；</p>
        <p class="contentfont">“最重要的当然是在办公室最少走动，获得充足饮水量”——极简系列口杯大肚子；</p>
        <p class="contentfont">“杯口阶梯设计使得水的倒流现象几乎消失，手工竹盖配以真空，减缓温度散失”——体贴系列口杯纳斯；</p>
        <p class="contentfont">“放车上，挂背包，揣兜里，装包里，不论在哪里，带着我”——运动系列口杯纯色</p>
        <p class="contentfont">目前魅拓还提供杯面图案激光刻印，下一刻，设计师杯身设计即将开启，从选杯子到买设计，让我们陪您在杯子这件小事上，一起美好的个性起来。</p>
        </div>
    </div>
</div>
<div id="two" class="container-fluid" style="padding: 0 0;">
    <div class="container text-center">
        <img src="images/dierpin.png" class="img-responsive center-block">
        <div style="margin-top: 20px;">
        <h1 class="titlefont" style="font-size: 40px;">容纳流动，喝水宜多</h1>
        <p class="contentfont" style="font-size: 23px;">魅拓杯子，就是和其他杯子不一样</p>
        </div>
        <div style="margin-top: 30px;">
            <a href="http://www.xiaoyu4.com/search.aspx?m=product"><img src="images/4.png"></a>
        </div>
    </div>
</div>
<div id="three" class="container-fluid" style="padding: 0 0;">
<div class="row">
    <div id="t" class="col-md-6">

    </div>
    <div class="col-md-6 text-center">
        <div style="margin-top: 20%; line-height: 2.5">
            <h1 class="titlefont">18/8 不锈钢金属材质</h1>
            <p class="contentfont" style="font-size: 21px;">全产品材质采用18/8食用级不锈钢，不只饮用纯净水，</p>
            <p class="contentfont" style="font-size: 21px;">更能胜任弱酸弱碱饮品。</p>
            <p class="contentfont" style="font-size: 21px;">咖啡、tea、可口可乐or橙汁儿都可以放心盛放，</p>
            <p class="contentfont" style="font-size: 21px;">冬日的一杯热茶或是夏日的一杯冷饮总是绝佳搭配。</p>
        </div>
        <div style="margin-top: 50px;">
            <a href="http://www.xiaoyu4.com/search.aspx?m=product"><img src="images/2.png"></a>
        </div>
    </div>
</div>
</div>
<div id="four" class="container-fluid" style="padding: 0 0;">
<div class="container text-center" style="margin-top: 5%;">
    <img src="images/disipin.png">
    <div style="margin-top: 60px; line-height: 1.8">
        <h3 class="titlefont">本色并非无色，而是包纳所有色彩</h3>
        <p class="contentfont" style="font-size: 18px;">镜面处理，我们拒绝电镀工艺，手工打磨带来的天生色泽，是被光选择的天生荣耀，</p>
        <p class="contentfont" style="font-size: 18px;">并非所有的镜面处理都能达到如此程度，因此，我们称魅拓的产品镜面为光择</p>
    </div>
    <div style="margin-top: 40px;">
        <a href="http://www.xiaoyu4.com/search.aspx?m=product&fenlei=&leixing=&zhuti=%B9%E2%D4%F3&fengge="><img src="images/2.png"></a>
    </div>
</div>
</div>
<div id="five" class="container-fluid" style="padding: 0 0;">
<div class="row">
    <div id="f" class="col-md-5">
    </div>
    <div class="col-md-7">
        <div>
        <h1 class="titlefont" style="font-size: 42px; margin-left: 5%;">印图开放</h1>
        <p style="font-size: 32px; margin-left: 5%;">
            <span>个性化与设计感的兼顾</span>
            </p>
        <p class="contentfont" style="font-size: 16px; line-height: 2.4; margin-top: -13px; margin-left: 5%; margin-right: 5%">
            通过魅拓平台聚集而来的设计师，提供了丰富多样的图案设计。不但有动漫、明星等常见类别，更有抽象艺术类别来等您发现。找到喜欢而又富有设计的图案，在创意盒子中完成位置摆放，下单成功后，我们将为您用激光印刻在指定位置，以达成在金属世界立体与平面的奇遇。您还可以关注喜欢的设计师，随时了解他的创作新动态。当然，我们将会在产品的利润中为这些美好作品的作者提供一部分丰厚报酬作为他们辛苦创作的版权费用。在魅拓，我们喜爱设计，更尊重好设计。
            <span><a href="http://www.xiaoyu4.com/Single.aspx?m=kankan"><img src="images/2.png"></a></span></P>
        </div>
        <div style="position: absolute;">
            <img src="images/170.png" style="position: absolute;top: 70px;left: 440px;">
            <img src="images/165.png" style="position: absolute;top: 50px;left: 240px;">
            <img src="images/160.png" style="position: absolute;top: 20px;left: 40px;">
            <img src="images/155.png" style="position: absolute;top: 10px;left: 640px;">
        </div>
    </div>
</div>
</div>
<div id="six" class="container-fluid" style="padding: 0 0;">
    <div class="container" style="vertical-align: middle;">
        <div class="row text-center" style="padding-top: 2%;">
            <h2 class="titlefont">极简系列：杯子该有的样子</h2>
            <p class="contentfont" style="font-size: 21px;">70mm到55mm的缓降,带来的是杯身下半部分60mm左右的完美握感,通过抛光</p>
            <p class="contentfont" style="font-size: 21px;">抑或镜面处理,光滑表面的触感再一次被升级，双层设计让过冷和过热与饮用需求相</p>
            <p class="contentfont" style="font-size: 21px;">关,却与手无关，获得极简系列产品,你就会知道这些采用100%</p>
            <p class="contentfont" style="font-size: 21px;">内外层8/18不锈钢水杯,才是杯子该有的样子</p>
        </div>
        <div class="row text-center">
            <div id="sxiao9" class="col-md-6">
                <img src="images/six1.png" class="img-responsive center-block">
                <p style="margin-top: 10px;"><span id="wenzi1" style="font-size: 18px;">手握口杯-小9</span>
                    <a href="http://www.xiaoyu4.com/page.aspx?id=29&classid=1"><img id="tu1" class="none" src="images/3.png" style="margin-left: 10px;"></a></p>
            </div>
            <div id="sdaduzi" class="col-md-6">
                <img src="images/six2.png" class="img-responsive center-block">
                <p style="margin-top: 10px;"><span id="wenzi2" style="font-size: 18px;">手捧口杯-大肚子</span>
                    <a href="http://www.xiaoyu4.com/page.aspx?id=30&classid=1"><img id="tu2" class="none" src="images/3.png" style="margin-left: 10px;"></a></p>
            </div>
        </div>
    </div>
</div>
<div id="seven" class="container-fluid" style="padding: 0 0;">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-xs-6 col-md-6">
                <img src="images/seven2.png" class="img-responsive pull-right">
            </div>
            <div class="col-xs-6 col-md-6">
                <img src="images/seven1.jpg" class="img-responsive pull-left">
            </div>
        </div>
        <div class="row text-center contentfont" style="margin-top: 5%;">
            <P style="font-size: 26px;">极简系列均采用双层设计            </P>
            <P style="font-size: 26px;">防热防冻，彻底和把手说再见            </P>
            <P style="font-size: 26px;">而最好的便捷装置，就是没有装置            </P>
            <P style="font-size: 26px;">小巧或憨厚，两款容量自由选择            </P>
        </div>
    </div>
</div>
<div id="eight" class="container-fluid" style="padding: 0 0;">
    <a href="http://www.xiaoyu4.com/page.aspx?id=29&classid=1"><img src="images/2.png" style="position: absolute; top: 10%; right: 10%;"></a>
</div>
<div id="nine" class="container-fluid" style="padding: 0 0;">
    <div class="container">
        <div class="row text-center" style="margin-top: 3%;">
            <h2 class="titlefont">体贴系列：本分之内，细节之上</h2>
            <p class="contentfont" style="font-size: 18px;">杯口阶梯设计，防止倒流，提供更优雅的喝水方式；</p>
            <p class="contentfont" style="font-size: 18px;">精心挑选竹子坚韧部位，半人工开凿打磨，经过无害防霉处理，成就一枚竹盖子；</p>
            <p class="contentfont" style="font-size: 18px;">整体杯身采用真空技术，除了隔热，还能大幅度减缓水温变化，为您留住一杯温度刚好的水。这就是纳斯，本分之内，满是体贴。</p>
        </div>
        <div class="row text-center" style="margin-top: 3%;">
            <div class="col-xs-6 col-md-6">
                <div class="pull-right" style="margin-right: 30px;">
                <img src="images/nine1.png">
                <p class="contentfont" style="font-size: 20px; margin-top: 10px;">纳斯原版</p>
                <a href="http://www.xiaoyu4.com/page.aspx?id=28&classid=1"><img src="images/3.png"></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="pull-left" style="margin-left: 30px;">
                <img src="images/nine2.png">
                <p class="contentfont" style="font-size: 20px; margin-top: 10px;">纳斯光择</p>
                 <a href="http://www.xiaoyu4.com/page.aspx?id=27&classid=1"><img src="images/3.png"></a>
                 </div>
            </div>
        </div>
    </div>
</div>
<div id="ten" class="container-fluid" style="padding: 0 0;">
    <div id="biaopan">
    </div>
    <div id="mscPlr">
    </div>
    <div id="mscPl">
    </div>
    <div id="wenzi">
        <p style="font-size: 50px; font-family: '微软雅黑'; color: #000000;">纳&nbsp;斯&nbsp;，&nbsp;不&nbsp;保&nbsp;温</p>
        <p style="font-size: 50px; font-family: '微软雅黑'; color: #000000;">但&nbsp;其&nbsp;实&nbsp;刚&nbsp;刚&nbsp;好</p>
    </div>
    <div id="beizi"></div>
    <div id="gaizi"></div>
    <div id="yanwu">
        <img id="yanwu1" src="images/sqi.png" class="none">
    </div>
</div>
<div id="shisan" class="container-fluid" style="padding: 0 0;">
    <a href="http://www.xiaoyu4.com/search.aspx?m=product&fenlei=217"><img src="images/2.png" style="position: absolute; top: 5%; left: 10%;"></a>
</div>
<div id="shiyi" class="container-fluid" style="padding: 0 0;">
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-4 col-lg-4">
            <img id="bwp" src="images/bwp.png" class="img-responsive">
        </div>
        <div class="col-md-8 col-lg-8">
            <div>
                <p class="contentfont" style="line-height: 1.8; font-size: 20px;">
                    <span style="font-size: 38px;">运动系列：你在路上，不只是陪你。</span><br>
                    让一杯冰水在炎日保持冷静，让一杯热水在冬日存续温暖。<br>
                    周末为孩子装上热乎乎的蜂蜜水，快乐了一个下午，开盖喂一口热乎乎的蜂蜜；从成都行驶到昆明的700多公里，在到终点后有温度的茶水是最好的庆祝；一杯有冰有水的可乐，一场运动下来，依然有水，有冰。<br>
                    它或许就在公园的长椅上伴在你身边，为你呵护一杯咖啡的热度。是的，纯色运动水杯，不仅仅是被你带着上路，我们呵护住您需要的温度，经久耐用，提供一个纯粹的杯子。<br/>
                </p>
            </div>
            <div>
            <img id="bwpg" src="images/bwpg.png" class="img-responsive" style="float: left;">
                <div style="float: left; margin-top: 7%; text-align: center;">
            <p class="titlefont" style="font-size: 22px;">纯色-保温杯</p>
            <p><a href="http://www.xiaoyu4.com/page.aspx?id=26&classid=1"><img src="images/3.png"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shiwu" class="container-fluid" style="padding: 0 0;">
<div style="width: 500px; position: absolute; top: 10%; left: 2%;">
    <h1 class="titlefont">高效保温保冷太基础</h1>
    <p class="contentfont" style="font-size: 20px; line-height: 1.8;">全18/8不锈钢材质，魅拓镜面工艺带来前所未有的动态色彩体验，500ml容量满足各类活动半径需要，指扣盖使得携带方式轻松便捷。杯身可提供激光刻印服务，无论是科比抑或字母缩写，想要让周遭看到的，尽管挑选。    </p>
</div>
</div>
<div id="shisi" class="container-fluid" style="padding: 0 0; text-align: center">
    <a href="http://www.xiaoyu4.com/page.aspx?id=26&classid=1"><img src="images/2.png" style="position: absolute; bottom: 10%;"></a>
</div>
<div id="shier" class="container-fluid" style="padding: 0 0; text-align: center;">
    <a href="http://www.xiaoyu4.com/Single.aspx?m=index-1"><img src="images/2.png" style="position: absolute; bottom: 8%;"></a>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/content.js"></script>
</body>
</html>